{{#if this.canInsertList}}
  <button type="button" class="say-toolbar__button {{if this.isInList "is-active"}}" {{on "click" this.toggleUnorderedList}} data-test-button-id="unordered-list">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="say-icon say-icon--large" aria-hidden="true">
      <path d="M3.56756757,18.4324324 C1.59351351,18.4324324 0,20.0259459 0,22 C0,23.9740541 1.59351351,25.5675676 3.56756757,25.5675676 C5.54162162,25.5675676 7.13513514,23.9740541 7.13513514,22 C7.13513514,20.0259459 5.54162162,18.4324324 3.56756757,18.4324324 Z M3.56756757,4.16216216 C1.59351351,4.16216216 0,5.75567568 0,7.72972973 C0,9.70378378 1.59351351,11.2972973 3.56756757,11.2972973 C5.54162162,11.2972973 7.13513514,9.70378378 7.13513514,7.72972973 C7.13513514,5.75567568 5.54162162,4.16216216 3.56756757,4.16216216 Z M3.56756757,32.7027027 C1.58162162,32.7027027 0,34.3081081 0,36.2702703 C0,38.2324324 1.60540541,39.8378378 3.56756757,39.8378378 C5.52972973,39.8378378 7.13513514,38.2324324 7.13513514,36.2702703 C7.13513514,34.3081081 5.55351351,32.7027027 3.56756757,32.7027027 Z M10.7027027,38.6486486 L44,38.6486486 L44,33.8918919 L10.7027027,33.8918919 L10.7027027,38.6486486 Z M10.7027027,24.3783784 L44,24.3783784 L44,19.6216216 L10.7027027,19.6216216 L10.7027027,24.3783784 Z M10.7027027,5.35135135 L10.7027027,10.1081081 L44,10.1081081 L44,5.35135135 L10.7027027,5.35135135 Z"/>
    </svg>
    <span class="say-u-hidden-visually">
      Unordered list
    </span>
  </button>
{{/if}}
{{#if this.canUnindent}}
  <button type="button" class="say-toolbar__button" {{on "click" this.insertUnindent}} data-test-button-id="insert-unindent">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="say-icon say-icon--large" aria-hidden="true">
      <path d="M19.7888889,33.0555556 L41.9,33.0555556 L41.9,28.6333333 L19.7888889,28.6333333 L19.7888889,33.0555556 Z M2.1,22 L10.9444444,30.8444444 L10.9444444,13.1555556 L2.1,22 Z M2.1,41.9 L41.9,41.9 L41.9,37.4777778 L2.1,37.4777778 L2.1,41.9 Z M2.1,2.1 L2.1,6.52222222 L41.9,6.52222222 L41.9,2.1 L2.1,2.1 Z M19.7888889,15.3666667 L41.9,15.3666667 L41.9,10.9444444 L19.7888889,10.9444444 L19.7888889,15.3666667 Z M19.7888889,24.2111111 L41.9,24.2111111 L41.9,19.7888889 L19.7888889,19.7888889 L19.7888889,24.2111111 Z"/>
    </svg>
    <span class="say-u-hidden-visually">
      Reverse indent
    </span>
  </button>
{{/if}}
{{#if this.canIndent}}
  <button type="button" class="say-toolbar__button"  data-test-button-id="insert-indent" {{on "click" this.insertIndent}}>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="say-icon say-icon--large" aria-hidden="true">
      <path d="M2.09933036,41.9006696 L41.9006696,41.9006696 L41.9006696,37.4782986 L2.09933036,37.4782986 L2.09933036,41.9006696 Z M2.09933036,13.1552579 L2.09933036,30.8447421 L10.9440724,22 L2.09933036,13.1552579 Z M19.7888145,33.0559276 L41.9006696,33.0559276 L41.9006696,28.6335565 L19.7888145,28.6335565 L19.7888145,33.0559276 Z M2.09933036,2.09933036 L2.09933036,6.52170139 L41.9006696,6.52170139 L41.9006696,2.09933036 L2.09933036,2.09933036 Z M19.7888145,15.3664435 L41.9006696,15.3664435 L41.9006696,10.9440724 L19.7888145,10.9440724 L19.7888145,15.3664435 Z M19.7888145,24.2111855 L41.9006696,24.2111855 L41.9006696,19.7888145 L19.7888145,19.7888145 L19.7888145,24.2111855 Z"/>
    </svg>
    <span class="say-u-hidden-visually">
      Indent
    </span>
  </button>
{{/if}}