@import "@appuniversum/ember-appuniversum/styles";
/* ==================================
   #SAY CONTENT STYLES
   ================================== */

/* Variables
  ========================================================================== */

$say-font-family:
  BlinkMacSystemFont,
  -apple-system,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif !default;
$say-h1-font-family: var(--au-font) !default;
$say-h1-font-weight: var(--au-medium) !default;
$say-h1-font-size: $au-h1 !default;
$say-h2-font-family: var(--au-font) !default;
$say-h2-font-weight: var(--au-medium) !default;
$say-h2-font-size: $au-h2 !default;
$say-h3-font-family: var(--au-font) !default;
$say-h3-font-weight: var(--au-medium) !default;
$say-h3-font-size: $au-h3 !default;
$say-h4-font-family: var(--au-font) !default;
$say-h4-font-weight: var(--au-medium) !default;
$say-h4-font-size: $au-h4 !default;
$say-h5-font-family: var(--au-font) !default;
$say-h5-font-weight: var(--au-medium) !default;
$say-h5-font-size: $au-h5 !default;
$say-h6-font-family: var(--au-font) !default;
$say-h6-font-weight: var(--au-medium) !default;
$say-h6-font-size: $au-h6 !default;
$say-base-font-family: var(--au-font) !default;
$say-base-font-weight: var(--au-regular) !default;
$say-small-font-size: $au-base !default;
$say-smaller-font-size: 1.4rem !default;
$say-smallest-font-size: 1.2rem !default;
$say-typography-margin: $au-unit-small !default;
$say-editor-private-color: var(--au-gray-900) !default;
$say-editor-highlight-color: var(--au-gray-100) !default;
$say-editor-highlight-hover-color: var(--au-gray-200) !default;
$say-editor-highlight-selected-color: var(--au-gray-300) !default;

/* Component
  ========================================================================== */

@mixin say-content() {
  // Set base font size for elements
  &,
  .say-bullet-list,
  .say-ordered-list,
  div {
    @include au-font-size($au-base);
    font-family: var(--au-font);
    font-weight: var(--au-regular);
  }

  span,
  .say-link {
    font-size: inherit;
  }

  [data-mark~="color"]::selection {
    color: inherit;
  }

  h1,
  .h1 {
    &.say-heading {
      @include au-font-size($say-h1-font-size, 1.1);
      font-family: $say-h1-font-family;
      font-weight: $say-h1-font-weight;
    }
  }

  h2,
  .h2 {
    &.say-heading {
      @include au-font-size($say-h2-font-size, 1.3);
      font-family: $say-h2-font-family;
      font-weight: $say-h2-font-weight;
    }
  }

  h3,
  .h3 {
    &.say-heading {
      @include au-font-size($say-h3-font-size, 1.3);
      font-family: $say-h3-font-family;
      font-weight: $say-h3-font-weight;
    }
  }

  h4,
  .h4 {
    &.say-heading {
      @include au-font-size($say-h4-font-size);
      font-family: $say-h4-font-family;
      font-weight: $say-h4-font-weight;
    }
  }

  h5,
  .h5 {
    &.say-heading {
      @include au-font-size($say-h5-font-size);
      font-family: $say-h5-font-family;
      font-weight: $say-h5-font-weight;
    }
  }

  h6,
  .h6 {
    &.say-heading {
      @include au-font-size($say-h6-font-size);
      font-family: $say-h6-font-family;
      font-weight: $say-h6-font-weight;
    }
  }

  .say-paragraph,
  .say-list-item {
    &.small {
      @include au-font-size($say-small-font-size);
    }

    &.smaller {
      @include au-font-size($say-smaller-font-size, 1.5);
    }

    &.smallest {
      @include au-font-size($say-smallest-font-size, 1.5);
    }
  }

  // Setup some margin rules
  .say-paragraph,
  .say-bullet-list,
  .say-ordered-list,
  .say-table,
  div,
  .say-heading {
    + * {
      margin-top: $say-typography-margin;
    }
  }

  .say-hidden + * {
    margin-top: 0;
  }

  [data-indentation-level="1"] {
    margin-left: 3rem;
  }

  [data-indentation-level="2"] {
    margin-left: 6rem;
  }

  [data-indentation-level="3"] {
    margin-left: 9rem;
  }

  [data-indentation-level="4"] {
    margin-left: 12rem;
  }

  .say-list-item > {
    [data-indentation-level] {
      margin-left: 0;
    }
  }

  // No margin
  .say-list-item .say-paragraph + *,
  .say-list-item div + *,
  .say-paragraph * + *,
  .say-paragraph + .say-hard-break,
  div + .say-hard-break,
  span + .say-hard-break,
  .say-bullet-list + .say-hard-break,
  .say-ordered-list + .say-hard-break,
  i + .say-hard-break,
  .say-hard-break + .say-hard-break {
    margin-top: 0;
  }

  // Style links
  .say-link {
    transition:
      color var(--au-transition),
      text-decoration var(--au-transition);
    font-weight: var(--au-regular);
    text-decoration-color: var(--au-blue-300);

    &,
    &:visited {
      color: var(--au-blue-700);
    }

    &:hover,
    &:focus {
      color: var(--au-blue-600);
      text-decoration-color: var(--au-blue-300);
    }

    &:focus {
      outline: var(--au-outline);
      outline-offset: $au-unit-tiny * 0.5;
    }
  }

  .say-bullet-list,
  .say-ordered-list {
    padding-left: 3rem;
  }

  // Style lists
  .say-bullet-list {
    list-style-type: initial;

    // Stop indenting
    .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list
      .say-bullet-list {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .say-ordered-list {
    list-style-type: decimal;

    & > .say-list-item .say-ordered-list {
      list-style-type: inherit;
    }

    // Stop indenting
    .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list
      .say-ordered-list {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .say-bullet-list.article-list {
    padding-left: 0;

    .say-list-item {
      margin-bottom: 1.5rem;
      list-style-type: unset;
    }
  }

  $styles: circle, square, initial;

  .say-bullet-list > .say-list-item {
    // Goes up to 18 levels deep and assigns a different style
    // to 1, 2 and 3 levels, then repeats.
    @for $i from 1 through 18 {
      $selector: "";
      @for $j from 1 through $i {
        $selector: $selector + "ul ";
      }
      #{$selector} > li {
        list-style-type: if($i >= 17, circle, nth($styles, ($i - 1) % 3 + 1));
      }
    }
  }

  // Style horizontal rule
  .say-horizontal-rule {
    margin: 0;
    margin-top: $au-unit;
    margin-bottom: $au-unit;
    border: 0;
    border-bottom: 3px solid var(--au-gray-200);
  }

  // Add custom font styling
  strong,
  b {
    font-weight: var(--au-bold);
  }

  em {
    font-style: italic;
  }

  i {
    display: inline-block;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  // Table styling

  .data-table .say-table-header,
  .data-table .say-table-cell {
    @include au-font-size($au-base, 1.5);
  }

  .data-table--lined.data-table--tight {
    .say-table-header,
    .say-table-cell {
      font-size: 1.4rem;
      padding: 0.8rem;
    }

    .button--small {
      font-size: 1.3rem;
      font-weight: 400;
    }

    .button-group .button {
      margin-bottom: 0.5rem;
    }
  }
}

.say-content {
  @include say-content();

  &.ProseMirror-hideselection {
    caret-color: transparent;

    *::selection {
      background: transparent;
    }

    .selectedCell {
      background-image: linear-gradient(
        0deg,
        var(--au-blue-200) 0%,
        var(--au-blue-200) 100%
      );
      background-blend-mode: multiply;
    }
  }

  &.say-selection-all {
    background-color: var(--au-blue-200);
  }
}
