@use "@appuniversum/ember-appuniversum/styles/a-tools" as au-tools;
@use "@appuniversum/ember-appuniversum/styles/a-settings" as au-settings;
@use "./c-editor.scss" as editor;
/* ==================================
   #SAY CONTAINER
   ================================== */

/* Component
  ========================================================================== */

.say-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &.say-container--toolbar-bottom {
    flex-direction: column-reverse;
  }
}

.say-container__main {
  overflow: scroll;
}

.say-container__aside {
  position: absolute;
  bottom: 0;
  right: au-settings.$au-unit-small;
  max-width: 380px;
  max-height: calc(100% - 44px);
  overflow: auto;
  padding: au-settings.$au-unit-small au-settings.$au-unit-small + au-settings.$au-unit-tiny;

  .say-container--toolbar-bottom & {
    top: 0;
    bottom: auto;
  }

  .say-container--paper.say-container--sidebar-right & {
    top: 44px;
  }

  .say-container--paper.say-container--toolbar-bottom &,
  .say-container--paper.say-container--toolbar-bottom.say-container--sidebar-right
    & {
    top: 0;
  }

  @include au-tools.mq(1023px) {
    width: editor.$say-editor-sidebar-medium;
    max-width: editor.$say-editor-sidebar-medium;
    min-height: calc(100% - 44px);

    .say-container--paper.say-container--sidebar-right & {
      padding: au-settings.$au-unit;
      bottom: auto;
    }
  }

  @include au-tools.mq(1280px) {
    width: calc(
      #{editor.$say-editor-sidebar-large} - #{au-settings.$au-unit-small +
        au-settings.$au-unit-tiny}
    );
    max-width: calc(
      #{editor.$say-editor-sidebar-large} - #{au-settings.$au-unit-small +
        au-settings.$au-unit-tiny}
    );
  }
}
