@use "@appuniversum/ember-appuniversum/styles/settings/s-root";
@use "@appuniversum/ember-appuniversum/styles/a-settings" as au-settings;

.say-link-editor {
  height: auto;
  z-index: 1;
  background: var(--au-gray-100);
  border: 0.1rem solid var(--au-gray-300);
  border-radius: 0.5rem;
}

.say-pill {
  vertical-align: bottom;
  min-height: 2.55rem;
  margin-bottom: -0.1rem;
  margin-top: 2px;
  background-color: var(--au-blue-100);
  border-color: var(--au-blue-300);
  border-radius: var(--au-radius);
  font-weight: var(--au-regular);
  color: var(--au-blue-700);
  [contenteditable] {
    outline: none;
    white-space: break-spaces;
    word-break: break-all;
    word-wrap: break-word;
    cursor: text;
    color: var(--au-blue-700);
  }

  &--error {
    color: var(--au-red-700);
    background-color: var(--au-red-200);
    border-color: var(--au-red-300);
    text-decoration-color: var(--au-red-300);

    [contenteditable] {
      color: var(--au-red-700);
    }
  }
}

.ember-node.ProseMirror-selectednode {
  .say-pill {
    background-color: var(--au-blue-200);
    outline: 2px solid var(--au-blue-500);
    outline-offset: -2px;

    ::selection {
      background-color: var(--au-blue-300);
    }

    &--error {
      background-color: var(--au-red-200);
      outline: 2px solid var(--au-red-500);

      ::selection {
        background-color: var(--au-red-300);
      }
    }
  }
}
