@use "@appuniversum/ember-appuniversum/styles" as au;
/* ==================================
   #TOAST
   ================================== */

.say-toast {
  @include au.au-font-size(au.$au-tiny, 1.3);
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: au.$au-unit-tiny au.$au-unit-small;
  color: au.$au-white;
  border-top-right-radius: var(--au-radius);
  background-color: var(--au-gray-800);
  min-height: au.$au-unit + au.$au-unit-tiny;

  &.is-loaded {
    background-color: var(--au-green-500);
    animation-name: dissappear;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes dissappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
