.rdfa-annotations {
  // Show some annotations inline
  [typeof="besluit:BehandelingVanAgendapunt"]:hover {
    .annotation--agendapunt--besloten__icon,
    .annotation--agendapunt--open__icon,
    .annotation--agendapunt--persoonlijk__icon {
      opacity: 1;
      left: auto;
    }
  }

  [typeof="besluit:Agendapunt"] > [property="dc:subject"],
  [property="ext:behandelt"] > span:first-child,
  [property="besluit:gebeurtNa"] + span {
    text-transform: uppercase;
    color: $say-neutral-light;
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 1.8;
  }

  [property="besluit:geplandOpenbaar"],
  [property="besluit:openbaar"] {
    text-transform: uppercase;
    color: $say-neutral-light;
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 1.8;
  }

  // Hide superfluous annotations visualisation
  [property=""],
  [typeof=""],
  [typeof="Zitting"],
  [property="ext:metadata"],
  [property="heeftNotulen"],
  [property="http://mu.semte.ch/vocabularies/ext/noHighlight"],
  [property="http://mu.semte.ch/vocabularies/ext/noHighlight"] {
    border-bottom: 0 !important;

    &:after,
    &:before,
    &[data-editor-position-level]:after,
    &[data-editor-position-level]:before,
    &[data-editor-position-level]:hover:after,
    &[data-editor-position-level]:hover:before,
    &:hover:after,
    &:hover:before {
      display: none !important;
      content: '' !important;
      opacity: 0 !important;
    }
  }

  // Display roadsign details
  [prefix="mobiliteit: https://data.vlaanderen.be/ns/mobiliteit# infrastructuur: https://data.vlaanderen.be/ns/openbaardomein/infrastructuur# besluit: https://data.vlaanderen.be/ns/besluit# geosparql: http://www.opengis.net/ont/geosparql# locn: http://www.w3.org/ns/locn# xsd:http://www.w3.org/2001/XMLSchema# foaf: http://xmlns.com/foaf/0.1/"] {
    [typeof="mobiliteit:Opstelling"] {
      display: none;
    }
  }

  // @TODO: review use
  [typeof="besluit:Agendapunt"] {
    margin-bottom: .5rem;
  }

  // Hide superfluous annotated fields
  [property="heeftNotulen"],
  [property="ext:metadata"] {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }

  span.mark-highlight-manual {
    color: $say-neutral-darker !important;
    font-style: italic;
  }
}

.rdfa-annotations.show-rdfa-blocks {
  [prefix="mobiliteit: https://data.vlaanderen.be/ns/mobiliteit# infrastructuur: https://data.vlaanderen.be/ns/openbaardomein/infrastructuur# besluit: https://data.vlaanderen.be/ns/besluit# geosparql: http://www.opengis.net/ont/geosparql# locn: http://www.w3.org/ns/locn# xsd:http://www.w3.org/2001/XMLSchema# foaf: http://xmlns.com/foaf/0.1/"] {
    [typeof="mobiliteit:Opstelling"] {
      display: block !important;
    }
  }
}




.rdfa-annotations-hover:not(.show-rdfa-blocks) {
  // Hide superfluous annotations
  [typeof="Zitting"],
  [typeof="foaf:Document"],
  [property="ext:metadata"] {
    border-bottom: 0 !important;

    &:after,
    &:before,
    &[data-editor-position-level]:after,
    &[data-editor-position-level]:before,
    &[data-editor-position-level]:hover:after,
    &[data-editor-position-level]:hover:before,
    &:hover:after,
    &:hover:before {
      display: none !important;
      content: '' !important;
      display: none !important;
      opacity: 0 !important;
    }
  }

  // Fix H1 spans > DIRTY FIX > @TODO: find something more elegant
  [property="dc:title"] span {
    &:after {
      margin-top: -4.2rem !important;
    }
  }
}
