/* ==================================
   #SAY EDITOR
   ================================== */

/**
 * CONTENTS
 * ---
 * VARIABLES: Project settings and variables
 * TOOLS: Mixins
 * OBJECTS: OOCSS unstyled objects (namespace: '.au-o-...')
 * COMPONENTS: Components (namespace: '.au-c-...')
 * CUSTOM COMPONENTS: Say editor components (namespace: '.say-...')
 * UTILITIES: Single function helper classes (namespace: '.au-u-...')
 * SHAME: Quick fixes
 */
// VARIABLES

.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

.ProseMirror-firefox-fake-cursor-wrapper {
  pointer-events: none;
  position: relative;

}

.ProseMirror-firefox-fake-cursor {
  position: absolute;
  //background: black;
  left: -0.2em;
  font-size: 1.55em !important;
  top: -0.25em;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}

.ProseMirror-focused .ProseMirror-firefox-fake-cursor {
}

// CUSTOM COMPONENTS
@import 'ember-rdfa-editor/a-custom-components';


// SHAME
@import 'ember-rdfa-editor/shame';
.u-hidden {
  visibility: visible;
  display: inline-block;
  background: yellow;
}

