/* ==================================
  #REMOVING ANNOTATIONS
  ================================== */

/* Removing annotations
 ========================================================================== */

.rdfa-annotations {
  [data-flagged-remove="almost-complete"][data-editor-position-level="0"],
  [data-flagged-remove="almost-complete"]:hover {
    box-shadow: -2px 0 0 $say-neutral-darker !important;
  }

  [data-flagged-remove="complete"][data-editor-position-level="0"],
  [data-flagged-remove="complete"] {
    cursor: text;
    background-color: rgba($say-neutral, .15) !important;
    box-shadow: -2px 0 0 $say-neutral-darker, 0 .3rem 0 rgba($say-primary, .25) !important;
    color: $say-neutral-dark !important;
    border-bottom: 0;
    font-style: italic;
    position: relative;

    &:hover {
      box-shadow: -2px 0 0 $say-neutral-darker, 0 .3rem 0 rgba($say-primary, 0.25) !important;
      border-bottom: 0;
    }
  }

  [data-flagged-remove="complete"][data-editor-position-level="0"],
  [data-flagged-remove="complete"] {
    font-family: $say-font;

    &:hover {
      color: $say-neutral;
      border-bottom: 0;
    }

    &:hover:after,
    &:after {
      content: "Vul in:" !important;
      max-width: 3em;
      padding-left: .1em;
    }

    &:hover:before,
    &:before,
    &:hover:after,
    &:after {
      margin: 0 !important;
      top: 0;
      left: 0 !important;
      right: auto !important;
      border: 0 !important;
      max-width: none !important;
      width: auto !important;
      min-height: 1em;
      font-weight: 400;
      text-align: left !important;
    }

    &[data-editor-position-level]:after,
    &[data-editor-position-level]:before {
      text-align: left;
    }

    &:hover:before,
    &:before {
      padding: 0 0 0 3em !important;
      overflow: visible !important;
      max-height: none;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &[data-flagged-remove="complete"],
    &[data-flagged-remove="complete"]:empty {
      display: block;
      min-height: 1.2em;
    }
  }

  li[data-flagged-remove="complete"] {
    display: list-item;
    min-height: 1.2em;
  }
}

.rdfa-annotations.show-rdfa-blocks {
  [data-flagged-remove="complete"][data-editor-position-level="0"],
  [data-flagged-remove="complete"] {
    border: 1px solid $say-neutral-light;

    &:before {
      padding-left: 0 !important;
      background-color: transparent;
      pointer-events: none;
    }

    &:after {
      display: block;
      content: "Vul in - " attr(property) " " attr(typeof) " " attr(data-type);
      padding: $say-unit-tiny;
      text-transform: uppercase;
      letter-spacing: .01rem;
      font-weight: 600;
      text-align: left;
      width: auto;
      left: -1px !important;
      top: -1px !important;
      right: -1px !important;
      font-size: 1.2rem;
    }
  }
}
