/* ==================================
   #SAY ANNOTATIONS HOVER
   ================================== */


.rdfa-annotations:not(.show-rdfa-blocks) {

.mark-highlight-manual,
[typeof],
[property],
[data-type],
[data-editor-highlight="true"] {

  &:before,
  &:after,
  &:hover:before,
  &:hover:after {
    transition: padding 400ms, opacity 400ms, left 200ms;
  }

  /* showing annotations text */

  &[data-editor-position-level]:before {
    z-index: 1;
  }

  &:not([data-editor-position-level]):hover:before {
    background-color: rgba($blue-gray-lightest, 0.9);
    color: darken($blue-gray, 5%);
    opacity: 1;
    z-index: 100 !important;
    padding-right: 0.5rem;
    right: -29.5rem;
  }

  &[data-editor-position-level]:before,
  &:hover:before {
    top: 0;
    opacity: 1;

    width: 15rem;
    height: 2.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    text-overflow: ellipsis;
    overflow: hidden;

    text-align: right;
    right: auto;
    left: -23.5rem;
  }

  /* style for lines that accompany annotations */

  &:not([data-editor-position-level]):hover:after {
    left: -8.5rem;
  }

  &[data-editor-position-level]:after,
  &:hover:after {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    left: -7.5rem;
    right: auto;
    width: 5rem;
    border-right: 1px solid $blue-gray;
    border-top: 1px solid $blue-gray;
  }

  &:not([data-editor-position-level]):hover:after {
    border-right: 0;
  }

  &[data-editor-position-level="0"]:after {
    border-right: 0;
  }

  /* positioning of annotations (pseudo class elements) */

  [data-editor-highlight="true"],
  [property],
  [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:before,
      &:after {
        margin-top: 4rem;
      }

      &:after {
        min-height: 5rem;
        height: calc(100% - 4rem);
      }
    }
  }

  [property] .mark-highlight-manual,
  [typeof] .mark-highlight-manual,
  [property] [data-editor-highlight="true"],
  [typeof] [data-editor-highlight="true"],
  [property] [property],
  [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:before,
      &:after {
        margin-top: 8rem;
      }

      &:after {
        min-height: 5rem;
        height: calc(100% - 8rem);
      }
    }
  }

  [property] [property] [property],
  [typeof] [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:before,
      &:after {
        margin-top: 12rem;
      }

      &:after {
        min-height: 5rem;
        height: calc(100% - 12rem);
      }
    }
  }

  [property] [property] [property] [property],
  [typeof] [typeof] [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:before,
      &:after {
        margin-top: 16rem;
      }

      &:after {
        min-height: 5rem;
        height: calc(100% - 16rem);
      }
    }
  }

  [property] [property] [property] [property] [property],
  [typeof] [typeof] [typeof] [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:before,
      &:after {
        margin-top: 20rem;
      }

      &:after {
        min-height: 5rem;
        height: calc(100% - 20rem);
      }
    }
  }

  [property] [property] [property] [property] [property] [property],
  [typeof] [typeof] [typeof] [typeof] [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:before,
      &:after {
        margin-top: 24rem;
      }

      &:after {
        min-height: 5rem;
        height: calc(100% - 24rem);
      }
    }
  }

  [property] [property] [property] [property] [property] [property] [property],
  [typeof] [typeof] [typeof] [typeof] [typeof] [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:before,
      &:after {
        margin-top: 28rem;
      }

      &:after {
        min-height: 5rem;
        height: calc(100% - 28rem);
        border-left: 0;
        border-right: 0;
      }
    }
  }
}

/* temporary way to reposition annotations for big blocks of text */

[typeof~="besluit:Besluit"],
[property="ext:stemmingTable"],
[property="ext:insertStemmingText"],
[property="ext:aanwezigenTable"],
[property="ext:insertAanwezigenText"],
[property="prov:generated"] > [property="besluit:motivering"],
[property="prov:generated"] > [property="prov:value"],
[typeof="besluit:Zitting"],
[property^="ext"]:not([property="ext:heeftAfwezigeBijAgendapunt"]):not(span),
[data-editor-highlight="true"]:not(li):not(span),
[typeof="http://data.vlaanderen.be/ns/besluit#Besluit http://data.vlaanderen.be/ns/besluit#AanvullendReglement"],
[typeof="besluit:Artikel"],
[typeof="mobiliteit:Opstelling"] {
  display: block;
  position: relative;
}

/* temporary way to reposition annotations for big blocks of text */

[typeof~="besluit:Besluit"],
[property="ext:stemmingTable"],
[property="ext:insertStemmingText"],
[property="ext:aanwezigenTable"],
[property="ext:insertAanwezigenText"],
[property="prov:generated"] > [property="besluit:motivering"],
[property="prov:generated"] > [property="prov:value"],
[typeof="besluit:Artikel"] {
  &:not([data-flagged-remove]) {
    &:before,
    &:after {
      margin-top: 0rem !important;
    }
  }

  [data-editor-highlight="true"],
  [data-type],
  [typeof],
  [property] {
    &:not([data-flagged-remove]) {
      &:before,
      &:after {
        margin-top: 4rem !important;
      }
    }
  }

  [property],
  [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:not([data-flagged-remove]) {
        &:before,
        &:after {
          margin-top: 8rem !important;
        }
      }
    }
  }

  [property] [data-editor-highlight="true"],
  [typeof] [data-editor-highlight="true"],
  [property] [property],
  [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:not([data-flagged-remove]) {
        &:before,
        &:after {
          margin-top: 12rem !important;
        }
      }
    }
  }

  [property] [property] [property],
  [typeof] [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:not([data-flagged-remove]) {
        &:before,
        &:after {
          margin-top: 16rem !important;
        }
      }
    }
  }

  [property] [property] [property] [property],
  [typeof] [typeof] [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:not([data-flagged-remove]) {
        &:before,
        &:after {
          margin-top: 20rem !important;
        }
      }
    }
  }

  [property] [property] [property] [property] [property],
  [typeof] [typeof] [typeof] [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:not([data-flagged-remove]) {
        &:before,
        &:after {
          margin-top: 24rem !important;
        }
      }
    }
  }

  [property] [property] [property] [property] [property] [property],
  [typeof] [typeof] [typeof] [typeof] [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:not([data-flagged-remove]) {
        &:before,
        &:after {
          margin-top: 28rem !important;
        }
      }
    }
  }

  [property] [property] [property] [property] [property] [property] [property],
  [typeof] [typeof] [typeof] [typeof] [typeof] [typeof] [typeof] {
    .mark-highlight-manual,
    [data-editor-highlight="true"],
    [data-type],
    [typeof],
    [property] {
      &:not([data-flagged-remove]) {
        &:before,
        &:after {
          margin-top: 32rem;
        }
      }
    }
  }
}
}

/* making sure list items annotations look good too */

.rdfa-annotations:not(.show-rdfa-blocks) {
ul:not(.article-list) {

  .mark-highlight-manual,
  [typeof],
  [property],
  [data-type],
  [data-editor-highlight="true"] {

    &:not([data-editor-position-level]):hover:before {
      left: -26.5rem;
    }

    &:not([data-editor-position-level]):hover:after {
      left: -10.5rem;
    }

    &[data-editor-position-level]:before {
      left: -25.5rem;
    }

    &[data-editor-position-level]:after {
      left: -9.5rem;
    }
  }
}
}

/* display roadsign details */

.rdfa-annotations:not(.show-rdfa-blocks) [prefix="mobiliteit: https://data.vlaanderen.be/ns/mobiliteit# infrastructuur: https://data.vlaanderen.be/ns/openbaardomein/infrastructuur# besluit: https://data.vlaanderen.be/ns/besluit# geosparql: http://www.opengis.net/ont/geosparql# locn: http://www.w3.org/ns/locn# xsd:http://www.w3.org/2001/XMLSchema# foaf: http://xmlns.com/foaf/0.1/"] {

  [typeof="mobiliteit:Opstelling"] {
  display: none;
}
}

.rdfa-annotations.show-rdfa-blocks [prefix="mobiliteit: https://data.vlaanderen.be/ns/mobiliteit# infrastructuur: https://data.vlaanderen.be/ns/openbaardomein/infrastructuur# besluit: https://data.vlaanderen.be/ns/besluit# geosparql: http://www.opengis.net/ont/geosparql# locn: http://www.w3.org/ns/locn# xsd:http://www.w3.org/2001/XMLSchema# foaf: http://xmlns.com/foaf/0.1/"] {

[typeof="mobiliteit:Opstelling"] {
  display: block !important;
}
}
