/* ==================================
   #SAY ANNOTATIONS
   Shared styling (hover, click, show, regular)
   ================================== */

/* Variables
   ========================================================================== */


/* Component
   ========================================================================== */

@if $say-show-rdfa == true {
  .rdfa-annotations {
    // making sure elements are easier to style and handle
    span {
      display: inline-block;
    }

    [property="prov:value"] > div > span,
    [property="ext:behandelt"] > div > span {
      display: block; // remove when span is gone from the template "nieuw generiek besluit"
    }

    [data-editor-highlight="true"],
    [property],
    [typeof]:not([typeof="foaf:Document"]),
    [data-type],
    .mark-highlight-manual {
      border-bottom: 2px dotted $say-neutral-light;
      padding-bottom: .2rem;
      transition: border $say-transition;

      // invisible styling of annotations, before they are shown
      &:not([data-flagged-remove="complete"]):before {
        // positioning
        content:  attr(property) " " attr(typeof) " " attr(data-type);
        position: absolute;
        pointer-events: none;
        transition: opacity $say-transition;
        z-index: $say-z-index-beta;
        width: $say-annotation-width-content;
        background-color: $say-annotation-background-color;
        padding: $say-unit-tiny/3 $say-unit-tiny/2;

        // Text
        @include say-font-size($say-base,1.4);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: $say-medium;
        font-size: 1.2rem;
        color: $say-neutral-dark;
        font-family: $say-font;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        // Hide text
        opacity: 0;
      }

      .mark-highlight-manual,
      [typeof],
      [property],
      [data-type] {
        padding-bottom: .2rem;
      }

      [typeof] .mark-highlight-manual,
      [property] .mark-highlight-manual,
      [typeof] [data-type],
      [property] [data-type],
      [typeof] [typeof],
      [property] [property] {
        padding-bottom: .2rem;
      }

      [typeof] [typeof] .mark-highlight-manual,
      [property] [property] .mark-highlight-manual,
      [typeof] [typeof] [data-type],
      [property] [property] [data-type],
      [typeof] [typeof] [typeof],
      [property] [property] [property] {
        padding-bottom: .2rem;
      }

      [typeof] [typeof] [typeof] [typeof] [typeof] [typeof] .mark-highlight-manual,
      [property] [property] [property] [property] [property] [property] .mark-highlight-manual,
      [typeof] [typeof] [typeof] [typeof] [typeof] [typeof] [typeof] [data-type],
      [property] [property] [property] [property] [property] [property] [property] [data-type],
      [typeof] [typeof] [typeof] [typeof] [typeof] [typeof] [typeof],
      [property] [property] [property] [property] [property] [property] [property] {
        border-bottom: 0;
      }
    }

    // making it easy to discover elements that need to be filled out / take action upon
    [property^="ext:insert"],
    [data-editor-highlight="true"] {
      background-color: $say-orange-lightest;
      transition: $say-transition;

      &::selection {
        color: $say-neutral-darkest;
        background-color: $say-orange-lighter;
      }

      &:hover {
        background-color: $say-orange-lighter;
      }
    }

    span.mark-highlight-manual {
      color: $say-neutral-darker !important;
      font-style: italic;
    }

    p[property="dc:subject"] {
      display: block;
    }

    [typeof="besluit:BehandelingVanAgendapunt"]:hover {
      .annotation--agendapunt--besloten__icon,
      .annotation--agendapunt--open__icon,
      .annotation--agendapunt--persoonlijk__icon {
        opacity: 1;
        left: auto;
      }
    }

    [typeof="besluit:Agendapunt"] > [property="dc:subject"],
    [property="ext:behandelt"] > span:first-child,
    [property="besluit:gebeurtNa"] + span {
      text-transform: uppercase;
      color: $say-neutral-light;
      letter-spacing: 1px;
      font-size: 1.4rem;
      line-height: 1.8;
    }

    [property="besluit:geplandOpenbaar"],
    [property="besluit:openbaar"] {
      text-transform: uppercase;
      color: $say-neutral-light;
      letter-spacing: 1px;
      font-size: 1.4rem;
      line-height: 1.8;
    }

    // Hide superfluous annotations visualisation
    [property=""],
    [typeof=""],
    [typeof="Zitting"],
    [property="heeftNotulen"],
    [property="ext:metadata"],
    [property="http://mu.semte.ch/vocabularies/ext/noHighlight"],
    [property="http://mu.semte.ch/vocabularies/ext/noHighlight"] {
      // border-bottom: 0 !important;

      // &:after,
      // &:hover:after,
      // &:before,
      // &:hover:before, {
      //   content: '' !important;
      //   opacity: 0 !important;
      // }
    }

    // Hide superfluous annotated fields
    [property="heeftNotulen"],
    [property="ext:metadata"] {
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }

  .rdfa-annotations.show-rdfa-blocks {
    [data-editor-highlight="true"],
    [property],
    [typeof]:not([typeof="foaf:Document"]),
    [data-type],
    .mark-highlight-manual {
      position: relative;
      border: 1px solid $say-neutral-lighter;
      display: block !important; // Override inline styles
      margin: $say-unit-tiny;

      &:not([data-flagged-remove="complete"]):before {
        position: relative;
        pointer-events: none;
        opacity: 1;
        right: auto;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $say-neutral-lighter;
      }

      &:not([data-flagged-remove="complete"]):after {
        display: none;
        transition: none;
      }
    }
  }
}
