/* ==================================
  #REMOVING ANNOTATIONS
  ================================== */

/* Removing annotations
 ========================================================================== */

.rdfa-annotations.show-rdfa-blocks,
.rdfa-annotations:not(.show-rdfa-blocks) {
  [data-flagged-remove="almost-complete"][data-editor-position-level="0"],
  [data-flagged-remove="almost-complete"]:hover {
    box-shadow: -2px 0 0 var(--au-yellow-400);
    background-color: var(--au-yellow-200);

    &:hover {
      background-color: var(--au-yellow-200) !important; // Conflict with .annotation style @TODO: remove when annotation classes are removed
    }
  }

  [data-flagged-remove="complete"][data-editor-position-level="0"],
  [data-flagged-remove="complete"] {
    cursor: text;
    box-shadow: none;
    background-color: var(--au-gray-100);
    min-width: $au-unit-tiny;
    color: var(--au-gray-700);
    font-style: italic;
    text-decoration: none;
    font-weight: var(--au-light) !important;

    &:hover {
      background-color: var(--au-gray-100) !important; // Conflict with .annotation style @TODO: remove when annotation classes are removed
    }

    &:hover:after,
    &:focus:after {
      color: rgba($au-gray-700,.7);
    }

    &:after {
      pointer-events: none;
    }
  }

  // Delete tables
  [property="http://lblod.data.gift/vocabularies/editor/isLumpNode"][data-flagged-remove="complete"] {
    position: relative;
    font-style: normal;
    font-weight: var(--au-regular);
  }

  [property="http://lblod.data.gift/vocabularies/editor/isLumpNode"][data-flagged-remove="complete"]:after {
    display: none;
  }

  [property="http://lblod.data.gift/vocabularies/editor/isLumpNode"][data-flagged-remove="complete"]:before,
  [property="http://lblod.data.gift/vocabularies/editor/isLumpNode"][data-flagged-remove="complete"]:hover:before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($au-white,.9);
    opacity: 1;
    padding: $au-unit;
    border: 0;
    margin: 0;
  }
}
