/* ==================================
   #SAY ANNOTATIONS MODAL
   ================================== */

// Temporary fix
.annotation-suggestion__suggestion {
  width: 100%;
  margin-bottom: $say-unit-tiny;

  .modal-dialog {
    max-width: 100%;
  }
}
