/* ==================================
   #SAY CONTAINER
   ================================== */

.say-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @if $say-toolbar-bottom == true {
    flex-direction: column-reverse;
  }
}

  .say-container__main {
    overflow: auto;
  }

  .say-container__aside {
    position: absolute;
    bottom: $say-unit-small;
    right: $say-unit-small + $say-unit-tiny;

    @if $say-toolbar-bottom == true {
      top: $say-unit-small;
      bottom: auto;
    }

    @if $say-paper == true and $say-toolbar-bottom == true and $say-paper-sidebar == false {
      top: $say-unit;
    }

    @if $say-paper == true and $say-toolbar-bottom == true and $say-paper-sidebar == true {
      top: $say-unit;
    }

    @if $say-paper == true and $say-paper-sidebar == true {
      top: calc(44px + #{$say-unit});
      width: calc(25% - #{$say-unit + $say-unit-small});
      bottom: auto;
      background-color: $say-neutral-lightest;
    }
  }
