.color-selector {
  .color-selector__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 5px;
    justify-items: center;
    padding: 5px;

    >* {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: none;

      &:hover {
        border: 1px solid black;
        cursor: pointer;
      }

      // make clickable outside of element too
      &::before {
        content: '';
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        left: -10px;
        top: -5px;
      }
    }
  }

  .color-selector__picker {
    display: none;
  }
}