/* ==================================
  #DROPDOWN
  ================================== */

/* Variables
  ========================================================================== */

$say-dropdown-color             : $say-primary-700 !default;
$say-dropdown-hover-color       : $say-primary-600 !default;
$say-dropdown-active-color      : $say-primary-600 !default;
$say-dropdown-visited-color     : $say-primary-900 !default;
$say-dropdown-active-color      : $say-primary-900 !default;
$say-dropdown-underline         : $say-primary-600 !default;
$say-dropdown-underline-hover   : $say-primary-300 !default;
$say-dropdown-caret-size        : .4rem !default;

/* Component
  ========================================================================== */

.say-dropdown {
  position: relative;
  display: inline-block;
}

.say-toolbar__button {

}

.say-dropdown__button {
  @include au-font-size($say-base-font-size,1);
  appearance: none;
  outline: none;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $say-neutral-600;
  height: $say-toolbar-height;
  width: $say-toolbar-height;
  background-color: transparent;
  transition: color $au-transition;
  padding: $au-unit-tiny;
  margin: 0;

  & + & {
    border-left: .1rem solid $say-neutral-200;
  }

  &:hover,
  &:focus {
    color: $say-neutral-700;
    background-color: transparent;
  }

  &:focus {
    outline: $au-outline;
    outline-offset: -.4rem;
  }

  &.is-active {
    color: $say-neutral-900;
    background-color: $say-neutral-300;
    box-shadow: inset 0 -.3rem 0 0 $say-neutral-400;
  }
}

.say-dropdown__menu {
  @include au-font-size($say-base-font-size,1.5);
  font-family: $say-font-family;
  font-weight: $au-regular;
  position: absolute;
  z-index: $au-z-index-beta;
  background-color: $say-white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  width: auto;
  top: calc(100% + #{$au-unit-tiny});
  box-shadow: 0 0 12px rgba($say-neutral-900,.15), 0 0 2px rgba($say-neutral-900,.1);
  border-radius: .3rem;
  display: none;

  &:before,
  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: $say-dropdown-caret-size;
    margin-left: -$say-dropdown-caret-size/2;
  }

  &:before {
    border-color: rgba($say-white, 0);
    border-bottom-color: $say-neutral-200;
  }

  &:after {
    border-color: rgba($say-white, 0);
    border-bottom-color: $say-white;
  }

  &:focus {
    outline: 0;
  }

  &.is-visible {
    display: flex;
  }
}

.say-dropdown__menu [role="menuitem"] {
  @include au-font-size($say-smaller-font-size,1.5);
  font-family: $say-font-family;
  font-weight: $au-regular;
  color: $say-neutral-700;
  appearance: none;
  border: 0;
  padding: $au-unit-small;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;

  &:first-child {
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
  }

  &:last-child {
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
  }

  &:hover {
    color: $say-neutral-800;
    background-color: $say-neutral-100;
  }

  &:focus {
    outline: $au-outline;
    outline-offset: -.2rem;
  }
}

.say-dropdown__menu [role="menuitem"] + [role="menuitem"] {
  border-top: 1px dotted $say-neutral-300;
}
