/* ==================================
   #SAY EDITOR STYLES
   ================================== */

/* Variables
   ========================================================================== */

$say-editor-background   : $say-neutral-lightest !default;
$say-editor-padding      : $say-unit !default;
$say-paper-min-height    : calc(100vh + #{$say-unit}) !default;
$say-paper-padding       : $say-unit-large !default;
$say-paper-background    : $say-white !default;
$say-paper-box-shadow    : 0 1px 3px rgba($say-neutral-darkest, .1), 0 4px 20px rgba($say-neutral-darkest, .035), 0 1px 1px rgba($say-neutral-darkest, .025) !default;


/* Component
   ========================================================================== */

.say-editor {
  background-color: $say-paper-background;
  padding: $say-editor-padding;
  width: 100%;
  position: relative;

  @if $say-paper == true {
    background-color: $say-editor-background;

    @if $say-paper-sidebar == true {
      padding-right: 25%;
    }
  }

  &.rdfa-annotations-hover {
    padding-left: $say-annotation-width;
  }
}

  .say-editor__paper {
    position: relative;
    width: 100%;
    min-height: $say-paper-min-height;

    &:focus {
      outline: none;
    }

    @if $say-paper == true {
      background-color: $say-paper-background;
      padding: $say-paper-padding;
      box-shadow: $say-paper-box-shadow;
    }
  }

  .say-editor__paper--disabled {
    background-color: $say-editor-background;
    color: $say-neutral-dark;
  }
