/* ==================================
   #SAY EDITOR STYLES
   ================================== */

.say-editor {
  background-color: $say-paper-background;
  padding: $say-editor-padding;
  width: 100%;
  position: relative;

  @if $say-paper == true {
    background-color: $say-editor-background;

    @if $say-paper-sidebar == true {
      padding-right: 25%;
    }
  }

  &.rdfa-annotations-hover {
    padding-left: $say-annotation-width;
  }
}

  .say-editor__paper {
    position: relative;
    width: 100%;
    min-height: $say-paper-min-height;

    &:focus {
      outline: none;
    }

    @if $say-paper == true {
      background-color: $say-paper-background;
      padding: $say-paper-padding;
      box-shadow: $say-paper-box-shadow;
    }
  }

  .say-editor__paper--disabled {
    background-color: $say-editor-background;
    color: $say-neutral-dark;
  }
