.say-editable {
  outline: 2px solid var(--au-gray-300);
  padding: 10px;
  &.say-active {
    outline: 2px solid var(--au-blue-500);
  }
  &.ProseMirror-selectednode {
    background-color: var(--au-blue-200);
  }
}
