.say-editor {

  .invisible {
    &.invisible--space::before {
      content: '.';
    }
    &.invisible--break::before {
      content: '\23CE';
    }
    &.invisible--par::before {
      content: '\00b6';
    }
  }
}