/* ==================================
   #INTERNAL COMPONENT
   @TODO: not sure what this does
   ================================== */

.internal-component {
  display: block;
  width: 50%;
  margin: 5px auto;
  border: 1px solid #333;
}

.internal-component .close {
  float:right;
  margin: 5px;
}
