/* ==================================
   #LISTS
   ================================== */

.say-link-list__item {
  display: block;
  position: relative;
  border-bottom: 1px solid $say-neutral-lighter;
}

.say-link-list__item a {
  display: block;
  padding: $say-unit $say-unit-large $say-unit $say-unit;
  position: relative;

  &:hover {
    background: $say-neutral-lightest;
  }
}

.say-link-list__item__content--capped {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: $say-unit * 4.6;
  overflow: hidden;
}

.say-link-list {
  svg {
    position: absolute;
    right: $say-unit-small;
    top: calc(50% - #{$say-unit-small + $say-unit-tiny});;
  }
}

// Disable fixed scrollbars on html element > @TODO: remove with new version of appuniversum

.say-link-list.say-link-list--dark {
  .say-link-list__item--capped a.au-c-link.au-c-link--secondary {
    color: $au-neutral-darker;
    text-decoration: underline;
  }

  .say-link-list__item--capped:nth-child(4),
  .say-link-list__item--capped:nth-child(5) {
    display: none;
  }
}
