/* ==================================
   #SAY LINK
   ================================== */

.say-link {
  display: inline-flex;
  align-items: center;
  color: $say-primary-700;
  text-decoration-color: $say-primary-300;
  transition: color $au-transition;

  &:hover,
  &:focus {
    color: $say-primary-600;
    text-decoration-color: $say-primary-300;
  }

  &:focus {
    outline: $au-outline;
  }
}

.say-link--secondary {
  color: $au-gray-700;
  text-decoration-color: $au-gray-300;

  &:hover,
  &:focus {
    color: $au-gray-600;
    text-decoration-color: $au-gray-300;
  }
}

.say-link__highlight {
  background-color: $au-yellow-200;
}
