.say-link-tooltip {
  z-index: 3;
  background-color: var(--au-white);

  a, button {
    padding: 0.5rem;
  }

  .au-c-input {
    border-width: 0 0.1rem;
    border-radius: 0%;
  }

  .au-c-input:focus {
    border-width: 0 0 !important;
  }
}



.say-link {
  [contenteditable] {
    outline: none;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    cursor: text;
    min-width: 5rem;
  }
}