/* ==================================
   #LISTS
   ================================== */

.say-link-list__item {
  display: block;
  position: relative;
  border-bottom: 1px solid $say-neutral-lighter;
}

.say-link-list__item a {
  display: block;
  position: relative;
  padding: $say-unit-small;
  font-size: $say-h6;

  &:hover {
    background: $say-neutral-lightest;
  }
}

.say-link-list__item__content--capped {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: $say-unit * 4.6;
  overflow: hidden;
}

.say-link-list__item--quote {
  a {
    padding-left: $say-unit-large + $say-unit-tiny;
  }

  svg {
    color: $say-primary;
    position: absolute;
    left: $say-unit-small + $say-unit-tiny;
    top: calc(50% - #{$say-unit-tiny  });;
  }
}

.say-link-list__item--arrow {
  a {
    padding-right: $say-unit-large + $say-unit-tiny;
  }

  svg {
    color: $say-primary;
    position: absolute;
    right: $say-unit-small + $say-unit-tiny;
    top: calc(50% - #{$say-unit-tiny  });;
  }
}

.say-link-list--large {
  .say-link-list__item a {
    padding: $say-unit;
    font-size: $say-h5;
  }

  .say-link-list__item--arrow a {
    padding-right: $say-unit-large + $say-unit-large;
  }

  .say-link-list__item--quote a {
    padding-left: $say-unit-large + $say-unit-large;
  }
}

// Disable fixed scrollbars on html element > @TODO: remove with new version of appuniversum

.say-link-list.say-link-list--dark {
  .say-link-list__item--capped a.au-c-link.au-c-link--secondary {
    color: $say-neutral-darker;
    text-decoration: underline;
  }

  .say-link-list__item--capped:nth-child(4),
  .say-link-list__item--capped:nth-child(5) {
    display: none;
  }
}
