/* ==================================
   #SAY MODAL
   ================================== */

.say-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  max-height: 70vh;
  z-index: $say-z-index-gamma;
  background-color: $say-white;
  box-shadow: 0 1px 3px rgba($say-neutral-darkest, .1), 0 4px 20px rgba($say-neutral-darkest, .035), 0 1px 1px rgba($say-neutral-darkest, .025);
}

// Legacy styles fixes
.say-modal .modal-dialog__header {
  @include say-font-size($say-h6);
  color: $say-neutral-darker;
  padding: $say-unit-small;
  border-bottom: .1rem solid $say-neutral-lighter;

  * {
    margin-bottom: 0;
  }

  * + * {
    margin-top: $say-unit-small;
  }
}

.say-modal .modal-dialog__content {
  padding: $say-unit-small;
}

.say-modal .modal-dialog__content--sectioned {
  padding: 0;
}

.say-modal .modal-dialog__content--sectioned > * {
  max-height: 50vh;
}

.say-modal .modal-dialog__footer {
  padding: $say-unit-small;

  button {
    margin-bottom: 0;
  }
}

.say-modal .link-list {
  @media screen and (max-width:767px) {
    margin-bottom: 0 !important;
  }
}

.say-modal .link-list.link-list--bordered {
  .link-list__item.link-list__item--sidenotes a {
    padding: $say-unit-small !important;
  }

  .link-list__item.link-list__item--sidenotes a:hover {
    background-color: $say-neutral-lightest;
  }

  .link-list__item__sidenote.uppercase {
    @include say-font-size($say-tiny,1.3);
    color: $say-neutral;
    padding: 0;
  }
}

.say-modal .modal-dialog__link-list {
  padding: $say-unit-small;
  width: 100%;
  overflow: hidden;
}

.pager__list {
  padding: $say-unit-tiny;
  border-top: .1rem solid $say-neutral-lighter;
}
