/* ==================================
   #SAY MODAL
   ================================== */

.say-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  max-height: 70vh;
  z-index: $say-z-index-gamma;
  background-color: $say-white;
  box-shadow: 0 1px 3px rgba($say-neutral-900, .1), 0 4px 20px rgba($say-neutral-900, .035), 0 1px 1px rgba($say-neutral-900, .025);
}
