/* ==================================
   #SAY RDFA STYLES
   ================================== */

/* Variables
   ========================================================================== */


/* Component
   ========================================================================== */

.rdfa-editor {
table {
  width: 100%;
}

// Imported HTML - Used for tables
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] {
  position: relative;
  cursor: not-allowed;
  border: 2px solid $au-white;
  background-color: $au-neutral-lightest;
  border-radius: $au-radius;
  outline: 2px dashed $au-neutral-light;
  margin-top: $au-unit-small;
  margin-bottom: $au-unit-small;

  th {
    font-weight: $au-medium;
    border-bottom: 1px solid $au-neutral-lighter;
  }

  th,
  td {
    padding: $au-unit-tiny;
    background-color: transparent !important;
  }

  th + th {
    border-left: 1px solid $au-neutral-lighter;
  }

  td + td {
    border-left: 1px solid $au-neutral-lighter;
  }

  tr + tr {
    border-top: 1px solid $au-neutral-lighter;
  }
}

// Set global font-size and show not-allowed cursor
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"],
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] * {
  @include au-font-size($au-base,1.3);
  cursor: not-allowed;
}
}
