/* ==================================
   #SAY TOOLBAR
   ================================== */

/* Variables
  ========================================================================== */

$say-toolbar-background: var(--au-gray-200) !default;
$say-toolbar-border: tint($au-gray-300, 30) !default;
$say-toolbar-height: 44px !default;

/* Component
  ========================================================================== */

.say-toolbar {
  @include au-font-size($au-base);
  display: flex;
  justify-content: space-between;
  min-height: $say-toolbar-height; // Fixes height bug on Safari
  height: $say-toolbar-height;
  background-color: $say-toolbar-background;
  border-bottom: 1px solid $say-toolbar-border;

  .say-container--toolbar-bottom & {
    border-bottom: 0;
    border-top: 1px solid $say-toolbar-border;
  }
}

.say-toolbar__styling-tools {
  display: flex;
  align-items: center;
}

.say-toolbar__actions {
  display: flex;
  align-items: center;
  padding: 0 $au-unit-small;

  > * + * {
    margin-left: $au-unit-small;
  }
}

.say-toolbar__group {
  display: flex;
  padding-left: $au-unit-tiny;
  padding-right: $au-unit-tiny;
}

.say-toolbar__group + .say-toolbar__group {
  border-left: 1px solid var(--au-gray-300);
}

.say-toolbar__button {
  @include au-font-size($au-base, 1);
  appearance: none;
  outline: none;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--au-gray-600);
  height: $say-toolbar-height;
  width: $say-toolbar-height;
  background-color: transparent;
  transition: color var(--au-transition);
  padding: $au-unit-tiny;
  margin: 0;

  & + & {
    border-left: 0.1rem solid var(--au-gray-200);
  }

  &:hover,
  &:focus {
    color: var(--au-gray-700);
    background-color: transparent;
  }

  &:focus {
    outline: var(--au-outline);
    outline-offset: -0.4rem;
  }

  &.is-active {
    color: var(--au-gray-900);
    background-color: var(--au-gray-300);
    box-shadow: inset 0 -0.3rem 0 0 var(--au-gray-400);
  }
}

.say-toolbar__button img {
  filter: invert(59%) sepia(12%) saturate(457%) hue-rotate(172deg) brightness(91%) contrast(85%);

  &:hover,
  &:focus {
    filter: invert(43%) sepia(35%) saturate(180%) hue-rotate(173deg) brightness(97%) contrast(94%);
  }
}
