/* ==================================
   #SAY TYPOGRAPHY STYLES
   ================================== */

/* Variables
   ========================================================================== */

$say-h1-font-family    : $say-font !default;
$say-h1-font-weight    : $say-medium !default;
$say-h1-font-size      : $say-h1 !default;
$say-h2-font-family    : $say-font !default;
$say-h2-font-weight    : $say-medium !default;
$say-h2-font-size      : $say-h2 !default;
$say-h3-font-family    : $say-font !default;
$say-h3-font-weight    : $say-medium !default;
$say-h3-font-size      : $say-h3 !default;
$say-h4-font-family    : $say-font !default;
$say-h4-font-weight    : $say-medium !default;
$say-h4-font-size      : $say-h4 !default;
$say-h5-font-family    : $say-font !default;
$say-h5-font-weight    : $say-medium !default;
$say-h5-font-size      : $say-h5 !default;
$say-h6-font-family    : $say-font !default;
$say-h6-font-weight    : $say-medium !default;
$say-h6-font-size      : $say-h6 !default;
$say-base-font-family  : $say-font !default;
$say-base-font-weight  : $say-light !default;
$say-base-font-size    : $say-base !default;
$say-typography-margin : $say-unit-small !default;


/* Component
   ========================================================================== */

.say-typography {
  &,
  ul,
  ol,
  div {
    @include say-font-size($say-base-font-size);
    font-family: $say-base-font-family;
    font-weight: $say-base-font-weight;
  }

  br {
    display: none !important;
  }

  p + *,
  ul + * {
    margin-top: $say-typography-margin/4;
  }


  h1,
  .h1 {
    margin-bottom: $say-typography-margin;
  }

  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6 {
    margin-top: $say-typography-margin;
    margin-bottom: $say-typography-margin/2;
  }

  h1,
  .h1 {
    @include say-font-size($say-h1-font-size,1.1);
    font-family: $say-h1-font-family;
    font-weight: $say-h1-font-weight;
  }

  h2,
  .h2 {
    @include say-font-size($say-h2-font-size,1.3);
    font-family: $say-h2-font-family;
    font-weight: $say-h2-font-weight;
  }

  h3,
  .h3 {
    @include say-font-size($say-h3-font-size,1.3);
    font-family: $say-h3-font-family;
    font-weight: $say-h3-font-weight;
  }

  h4,
  .h4 {
    @include say-font-size($say-h4-font-size);
    font-family: $say-h4-font-family;
    font-weight: $say-h4-font-weight;
  }

  h5,
  .h5 {
    @include say-font-size($say-h5-font-size);
    font-family: $say-h5-font-family;
    font-weight: $say-h5-font-weight;
  }

  h6,
  .h6 {
    @include say-font-size($say-h6-font-size);
    font-family: $say-h6-font-family;
    font-weight: $say-h6-font-weight;
  }

  p, li {
    &.small {
      @include say-font-size($say-base);
    }

    &.smaller {
      @include say-font-size(1.4rem,1.5);
    }

    &.smallest {
      @include say-font-size(1.3rem,1.5);
    }
  }

  p {
    display: block;
  }

  ul {
    list-style: bullet;
  }

  ol:not(.bullet-list):not(.numbered-list),
  ul:not(.bullet-list):not(.numbered-list) {
    padding-left: 0;

    > li {
      list-style-type: initial;
    }
  }

  ul:not(.bullet-list):not(.numbered-list).article-list {
    padding-left: 0;

    li {
      margin-bottom: 1.5rem;
      list-style-type: unset;
    }
  }

  ul:not(.bullet-list):not(.numbered-list) li {
    > ul > li {
      list-style-type: circle;

      > ul > li {
        list-style-type: square;

        > ul > li {
          list-style-type: initial;

          > ul > li {
            list-style-type: circle;

            > ul > li {
              list-style-type: square;

              > ul > li {
                list-style-type: initial;

                > ul > li {
                  list-style-type: circle;

                  > ul > li {
                    list-style-type: square;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  ol:not(.bullet-list):not(.numbered-list) > li {
    list-style-type: decimal;
  }

  ul.bullet-list,
  ul.numbered-list,
  ol.bullet-list,
  ol.numbered-list {
    margin-left: $say-unit;
  }

  li[style="display: inline;"] {
    display: inline-block !important;
  }

  hr {
    margin: 0;
    margin-top: $say-unit;
    margin-bottom: $say-unit;
    border: 0;
    border-bottom: 3px solid $say-neutral-lighter;
  }

  strong,
  b {
    font-weight: $say-medium;
  }

  em {
    font-style: italic;
  }

  mark {
    cursor: pointer;
  }

  mark table {
    font-weight: normal;
    border: 4px solid $say-yellow;

    &:active {
      opacity: .5;
    }
  }

  a {
    display: inline-block;
    transition: color $say-transition, text-decoration $say-transition;
    font-weight: $say-regular;
    text-decoration-color: $say-primary-lighter;

    &,
    &:visited {
      color: $say-primary;
    }

    &:hover,
    &:focus {
      color: $say-primary-light;
      text-decoration-color: $say-primary-lighter;
    }

    &:focus {
      outline: $say-outline;
      outline-offset: $say-unit-tiny/2;
    }
  }

  table th {
    white-space: initial;
    background-color: $say-white;
  }

  .data-table th,
  .data-table td {
    @include say-font-size($say-base,1.5);
  }

  .data-table--lined.data-table--tight {
    th,
    td {
      font-size: 1.4rem;
      padding: .8rem;
    }

    .button--small {
      font-size: 1.3rem;
      font-weight: 400;
    }

    .button-group .button {
      margin-bottom: .5rem;
    }
  }

  [typeof="besluit:Agendapunt"] {
    margin-bottom: .5rem;
  }

  [typeof="besluit:BehandelingVanAgendapunt"],
  [property="ext:behandelt"],
  [property="besluit:heeftAgendapunt"],
  [typeof="besluit:Agendapunt"] {
    display: block !important;
    position: relative;

    [property="besluit:geplandOpenbaar"] i,
    [property="besluit:openbaar"] i {
      font-size: 1.6rem;
      position: absolute;
      left: -2.75rem;
      top: 0.2rem;
      padding-left: 1px;
      z-index: 2;
      color: $say-neutral-light;
    }

    [property="besluit:geplandOpenbaar"][content="false"] i,
    [property="besluit:openbaar"][content="false"] i {
      color: darken($say-yellow, 15%);
    }
  }
}
