.say-table {
  @include au-font-size($au-h6);
  display: table;
  table-layout: fixed;
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border: 0.1rem solid var(--au-gray-300);

  & + & {
    margin-top: $au-unit;
  }

  thead {
    border-bottom: 0.2rem solid var(--au-gray-300);
  }

  th,
  td {
    @include au-font-size($au-base, 1.2);
    text-align: left;
    padding: $au-unit-small $au-unit-small;
    min-height: $au-unit-large;
  }

  th {
    font-weight: var(--au-medium);
  }

  tr + tr {
    border-top: 0.1rem solid var(--au-gray-300);
  }

  th + th,
  td + td {
    border-left: 0.1rem solid var(--au-gray-300);
  }

  th,
  td {
    max-width: 55ch;
  }

  th:focus,
  td:focus {
    outline: none;
  }

}

table.ProseMirror-selectednode {
  background-color: var(--au-blue-200);
  outline: 2px solid var(--au-blue-500);
  color: var(--au-black);
}
