.say-table {
  @include au-font-size($au-h6);
  display: table;
  table-layout: fixed;
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border: .1rem solid var(--au-gray-300);
  white-space: normal;

  & + & {
    margin-top: $au-unit;
  }

  thead {
    border-bottom: .2rem solid var(--au-gray-300);
  }

  th,
  td {
    @include au-font-size($au-base,1.2);
    text-align: left;
    padding: $au-unit-small $au-unit-small;
    min-height: $au-unit-large;
  }

  th {
    font-weight: var(--au-medium);
  }

  tr + tr {
    border-top: .1rem solid var(--au-gray-300);
  }

  th + th,
  td + td {
    border-left: .1rem solid var(--au-gray-300);
  }

  th,
  td {
    max-width: 55ch;
  }

  th:focus,
  td:focus {
    outline: none;
  }
}
