/* ==================================
   #SAY TOOLBAR
   ================================== */

/* Variables
  ========================================================================== */

$say-toolbar-background: var(--au-gray-200) !default;
$say-toolbar-border: tint($au-gray-300, 30) !default;
$say-toolbar-height: 44px !default;

/* Component
  ========================================================================== */

.say-toolbar {
  @include au-font-size($au-base);
  display: flex;
  justify-content: start;
  min-height: $say-toolbar-height; // Fixes height bug on Safari
  height: $say-toolbar-height;
  background-color: $say-toolbar-background;
  border-bottom: 1px solid $say-toolbar-border;

  .say-container--toolbar-bottom & {
    border-bottom: 0;
    border-top: 1px solid $say-toolbar-border;
  }
}

.say-toolbar img {
  max-width: inherit;
  height: 100%;
}

.say-toolbar__spacer {
  width: 100%;
}

.say-toolbar__group {
  display: flex;
  padding-left: .1rem;
  padding-right: .1rem;
  flex-shrink: 0;
  align-items: center;
}

.say-toolbar__group + .say-toolbar__group {
  border-left: 1px solid var(--au-gray-300);
}

.say-toolbar__button {
  @include au-font-size($au-base, 1);
  height: $say-toolbar-height;
  width: $say-toolbar-height;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  & + & {
    border-left: 0.1rem solid var(--au-gray-200);
  }

  .main, .options {
    appearance: none;
    outline: none;
    border: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
    color: var(--au-gray-600);
    background-color: transparent;
    transition: color var(--au-transition);
    padding: 0;
    margin: 0;


    &:hover,
    &:focus {
      color: var(--au-gray-700);
      background-color: transparent;
    }

    &:focus {
      outline: var(--au-outline);
      outline-offset: -0.4rem;
    }

    &.is-active {
      color: var(--au-gray-900);
      background-color: var(--au-gray-300);
      box-shadow: inset 0 -0.3rem 0 0 var(--au-gray-400);
    }
    &.is-disabled {
      color: var(--au-gray-400);
      cursor: not-allowed;
    }
  }
  .main {
    flex: 6;
  }
  .options {
    flex: 3;

    > .say-dropdown__button {
      min-width: 0;
      padding: 0;
    }
  }

}

.say-toolbar__button img {
  filter: invert(59%) sepia(12%) saturate(457%) hue-rotate(172deg) brightness(91%) contrast(85%);

  &:hover,
  &:focus {
    filter: invert(43%) sepia(35%) saturate(180%) hue-rotate(173deg) brightness(97%) contrast(94%);
  }
}

.say-rdfa-toggle {
  padding: 0 1.2rem;
}