/* ==================================
   #TOAST
   ================================== */

.say-toast {
  @include au-font-size($au-h6,1.3);
  display: flex;
  align-items: center;
  padding: $au-unit-tiny $au-unit-small;
  color: $au-white;
  border-radius: .2rem;
  background-color: var(--au-gray-800);

  &.is-loaded .say-icon {
    stroke: var(--au-green-500);
    fill: var(--au-green-500);
  }

  &.is-loaded {
    animation-name: dissappear;
    animation-iteration-count: 1;
    animation-duration: .3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @include mq(medium) {
    .say-container--paper.say-container--sidebar-right & {
      padding: $au-unit-tiny 0;
      color: var(--au-gray-700);
      background-color: transparent;
    }
  }
}

@keyframes dissappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
