.say-table {
  @include au-font-size($au-h6);
  display: table;
  table-layout: auto;
  position: relative;
  min-width: 100%;
  border-collapse: collapse;
  border: 0.1rem solid var(--au-gray-300);

  & + & {
    margin-top: $au-unit;
  }

  thead {
    border-bottom: 0.2rem solid var(--au-gray-300);
  }

  th,
  td {
    @include au-font-size($au-base, 1.2);
    text-align: left;
    padding: $au-unit-small $au-unit-small;
    min-height: $au-unit-large;
    position: relative;
    // Fixes Firefox bug - https://bugzilla.mozilla.org/show_bug.cgi?id=688556
    background-clip: padding-box;
  }

  th {
    font-weight: var(--au-medium);
  }

  tr + tr {
    border-top: 0.1rem solid var(--au-gray-300);
  }

  th + th,
  td + td,
  th + td,
  td + th {
    border-left: 0.1rem solid var(--au-gray-300);
  }

  th,
  td {
    max-width: 55ch;
  }

  th:focus,
  td:focus {
    outline: none;
  }

  // Element with a class that columnResizing plugin adds
  .column-resize-handle {
    position: absolute !important;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 4px;
    z-index: 20;
    background-color: #adf;
    pointer-events: none;
    margin-top: 0;
  }
}


.tableWrapper {
  overflow-y: hidden;
}

table.ProseMirror-selectednode,
// `tableWrapper` is a class that columnResizing plugin adds
.tableWrapper.ProseMirror-selectednode {
  background-color: var(--au-blue-200);
  outline: 2px solid var(--au-blue-500);
  color: var(--au-black);
}

// Class that columnResizing plugin adds
.resize-cursor {
  cursor: col-resize;
}
