// ==================================
// #COLORS
// ==================================


// Color palette
// ---

$say-purple-200               : #F2E0FF;
$say-purple-300               : #E1B8FF;
$say-purple-600               : #A933FF;
$say-purple-700               : #9000FA;
$say-purple-800               : #7700ce;
$say-purple-900               : #550094;
