// Say editor theme
:root {
  // Colors
  --au-white: #FFFFFF;
  --au-gray-100: #F7F9FC;
  --au-gray-200: #e8ebee;
  --au-gray-300: #CFD5DD;
  --au-gray-400: #AFB9C5;
  --au-gray-500: #8695A8;
  --au-gray-600: #7F8B99;
  --au-gray-700: #687483;
  --au-gray-800: #4F5864;
  --au-gray-900: #333332;
  --au-gray-1000: #000000;
  --au-blue-100: #faf4ff;
  --au-blue-200: #f2e0ff;
  --au-blue-300: #e1b8ff;
  --au-blue-500: #b34bff;
  --au-blue-600: #a933ff;
  --au-blue-700: #9000fa;
  --au-blue-800: #7700ce;
  --au-blue-900: #550094;
  --au-yellow-100: #FFF9D5;
  --au-yellow-200: #FFF29B;
  --au-yellow-300: #FFE615;
  --au-yellow-400: #FFC515;
  --au-yellow-600: #7F6E3B;
  --au-yellow-900: #473D21;
  --au-orange-200: #fff9e8;
  --au-orange-300: #FFEEB9;
  --au-orange-400: #FFE49C;
  --au-orange-500: #FFA10A;
  --au-orange-600: #D07B06;
  --au-orange-700: #9F5804;
  --au-red-100: #FDF7F7;
  --au-red-200: #FBEDED;
  --au-red-300: #F4C8C9;
  --au-red-400: #F1AEAE;
  --au-red-500: #E77474;
  --au-red-600: #D2373C;
  --au-red-700: #AA2729;
  --au-red-900: #470000;
  --au-green-100: #F8FCF9;
  --au-green-200: #ecf6ee;
  --au-green-300: #C5E5CC;
  --au-green-400: #b1dcbb;
  --au-green-500: #009E47;
  --au-green-700: #007A37;
  --au-green-900: #323D08;

  // Typography
  --au-global-font-size: 1.5rem;
  --au-global-line-height: 1.5;
  --au-font: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  --au-font-secondary: "flanders-serif";
  --au-font-tertiary: courier, monospace;
  --au-light: 300;
  --au-regular: 400;
  --au-medium: 500;
  --au-bold: 700;
  --au-base: 1.5rem;
  --au-para: 1.8rem;
  --au-para-small: 1.6rem;
  --au-lead: 2.2rem;
  --au-lead-medium: 2rem;
  --au-lead-small: 1.8rem;
  --au-small: 1.4rem;
  --au-tiny: 1.3rem;
  --au-h-functional-small: 1.3rem;
  --au-h-functional: 1.5rem;
  --au-h6: 1.6rem;
  --au-h5: 1.8rem;
  --au-h4: 2rem;
  --au-h3-small: 2.2rem;
  --au-h3: 2.6rem;
  --au-h2-small: 2.6rem;
  --au-h2: 3.2rem;
  --au-h1-small: 3rem;
  --au-h1-medium: 4rem;
  --au-h1: 4.4rem;

  // UI
  --au-page-bg: #FFFFFF;
  --au-select-text-color: #333332;
  --au-select-text-bg: #f2e0ff;
  --au-radius: .3rem;
  --au-border: .2rem;
  --au-outline-color: #b34bff;
  --au-outline-border: .3rem;
  --au-outline-border-style: solid;
  --au-outline: #5990DE .3rem solid;
  --au-outline-offset: .2rem;
  --au-outline-offset-negative: -.3rem;
  --au-duration: .125s;
  --au-easing: cubic-bezier(0.190,  1.000, 0.220, 1.000);
  --au-transition: .125s cubic-bezier(0.190,  1.000, 0.220, 1.000);
  --au-z-index-alpha: 1;
  --au-z-index-beta: 2;
  --au-z-index-gamma: 3;

  // Duet datepicker
  --duet-color-primary: #a933ff;
}
