// ==================================
// #SAY THEME
// ==================================

// Display options
$say-layout-reverse    : false !default;
$say-paper             : true !default;
$say-paper-sidebar     : true !default;

// Annotation options
$say-annotation-width            : $say-unit-huge*3 !default;
$say-annotation-offset           : $say-unit !default;
$say-annotation-gutter           : $say-unit !default;
$say-annotation-width-content    : $say-annotation-width - $say-unit-large !default;
$say-annotation-background-color : $say-neutral-lightest !default;
