// ==================================
// #SAY THEME
// ==================================

// Display options
$say-layout-reverse    : false !default;
$say-sidebar           : true !default;
$say-annotations       : true !default;
$say-paper             : true !default;
$say-show-rdfa         : true !default;
$say-hover-annotations : false !default;

$say-annotation-width  : $say-unit-huge*3 !default;
