// ==================================
// #THEME
// ==================================

// Define the look of the Say Editor by changing the variables.

// UI
// ---
// Display options
$say-paper                       : true !default; // True = displays a paper like background.
$say-paper-sidebar               : true !default; // True = adds space for a sidebar to the right.
$say-toolbar-bottom              : false !default; // True = position the toolbar at the bottom.
