// ==================================
// #THEME
// ==================================

// Define the look of the Say Editor by changing the variables.


// UI
// ---
// Display options
$say-paper                       : true !default; // True = displays a paper like background.
$say-paper-sidebar               : true !default; // True = adds space for a sidebar to the right.
$say-toolbar-bottom              : false !default; // True = position the toolbar at the bottom.


// EDITOR
// ---
// Editor spacing and background
$say-editor-padding              : $say-unit !default;
$say-editor-background           : $say-neutral-100 !default;

// Paper spacing and background
$say-paper-min-height            : calc(100vh + #{$say-unit}) !default;
$say-paper-padding               : $say-unit-large !default;
$say-paper-background            : $say-white !default;
$say-paper-box-shadow            : 0 1px 3px rgba($say-neutral-900, .1), 0 4px 20px rgba($say-neutral-900, .035), 0 1px 1px rgba($say-neutral-900, .025) !default;

// Typography
$say-h1-font-family              : $say-font !default;
$say-h1-font-weight              : $say-medium !default;
$say-h1-font-size                : $say-h1 !default;
$say-h2-font-family              : $say-font !default;
$say-h2-font-weight              : $say-medium !default;
$say-h2-font-size                : $say-h2 !default;
$say-h3-font-family              : $say-font !default;
$say-h3-font-weight              : $say-medium !default;
$say-h3-font-size                : $say-h3 !default;
$say-h4-font-family              : $say-font !default;
$say-h4-font-weight              : $say-medium !default;
$say-h4-font-size                : $say-h4 !default;
$say-h5-font-family              : $say-font !default;
$say-h5-font-weight              : $say-medium !default;
$say-h5-font-size                : $say-h5 !default;
$say-h6-font-family              : $say-font !default;
$say-h6-font-weight              : $say-medium !default;
$say-h6-font-size                : $say-h6 !default;
$say-base-font-family            : $say-font !default;
$say-base-font-weight            : $say-light !default;
$say-base-font-size              : $say-base !default;
$say-small-font-size             : $say-base !default;
$say-smaller-font-size           : $say-small !default;
$say-smallest-font-size          : $say-tiny !default;
$say-typography-margin           : $say-unit-small !default;
$say-editor-private-color        : $say-neutral-900 !default;
$say-editor-highlight-color      : $say-warning-200 !default;
$say-editor-highlight-hover-color: $say-warning-100 !default;


// TOOLBAR
// ---
$say-toolbar-background          : $say-neutral-200 !default;
$say-toolbar-border              : tint($say-neutral-300,30) !default;
$say-toolbar-height              : 44px !default;

// Annotation switch styling
$say-switch-label-color          : $say-neutral-700 !default;
$say-switch-color                : $say-neutral-300 !default;
$say-switch-active-color         : $say-primary-700 !default;

// BUTTONS
// ---

// Button
$say-button-height               : $say-unit + $say-unit-tiny !default;
$say-button-font-family          : $say-font !default;
$say-button-font-size            : $say-base !default;
$say-button-font-weight          : $say-regular !default;
$say-button-border               : .1rem !default;
$say-button-border-color         : $say-primary-700 !default;
$say-button-border-hover-color   : $say-primary-600 !default;
$say-button-color                : $say-white !default;
$say-button-hover-color          : $say-white !default;
$say-button-bg-color             : $say-primary-700 !default;
$say-button-bg-hover-color       : $say-primary-600 !default;
$say-button-radius               : $say-radius !default;

// Secondary button
$say-button-secondary-color                : $say-neutral-800 !default;
$say-button-secondary-hover-color          : $say-neutral-700 !default;
$say-button-secondary-border-color         : $say-neutral-300 !default;
$say-button-secondary-border-hover-color   : $say-neutral-300 !default;
$say-button-secondary-bg-color             : $say-white !default;
$say-button-secondary-bg-hover-color       : transparent !default;

// // Tertiary button
$say-button-tertiary-height                : $say-unit !default;
$say-button-tertiary-color                 : $say-neutral-800 !default;
$say-button-tertiary-hover-color           : $say-neutral-700 !default;
$say-button-tertiary-border-color          : transparent !default;
$say-button-tertiary-border-hover-color    : transparent !default;
$say-button-tertiary-bg-color              : $say-white !default;
$say-button-tertiary-bg-hover-color        : transparent !default;

// ANNOTATIONS
// ---
// Annotation options
$say-annotation-width            : $say-unit-huge*3 !default;
$say-annotation-offset           : $say-unit-large !default;
$say-annotation-gutter           : $say-unit !default;
$say-annotation-width-content    : $say-annotation-width !default;
$say-annotation-text-color       : $say-neutral-700 !default;
$say-annotation-background-color : $say-neutral-100 !default;


// INPUT
// ---

$say-input-height                    : $say-unit-large - $say-unit-small !default;
$say-input-color                     : $say-gray-1000 !default;
$say-input-background-color          : $say-white;
$say-input-border-color              : $say-gray-400 !default;
$say-input-focus-border-color        : $say-outline-color !default;
$say-input-error-border              : $say-red-600 !default;
$say-input-radius                    : $say-radius/5;

$say-input-disabled-background-color : $say-gray-100 !default;
$say-input-disabled-border-color     : $say-gray-600 !default;
$say-input-disabled-color            : $say-gray-700 !default;
$say-input-font-size                 : $say-h6 !default;


// LABEL
// ---

$say-label-color                   : $say-gray-800 !default;


// HELP TEXT
// ---

$say-help-text-color             : $say-gray-800 !default;
$say-help-text-error-color       : $say-red-600 !default;
$say-help-text-font-size         : 1.4rem !default;
