/* ==========================================================================
   #SHAME
   Temporary css
   Some parts will be reused, but most of them will not.
   ========================================================================== */

.say-typography {
  // Hide empty text elements
  #text {
    display: none !important;
  }

  .annotation:hover {
    background-color: transparent !important; // override annotation hover background
  }

  // Not sure what this does
  mark {
    cursor: pointer;
  }

  mark table {
    font-weight: normal;
    border: 4px solid $say-warning-400;

    &:active {
      opacity: .5;
    }
  }
}

// Not sure if this is used
.internal-component {
  display: block;
  width: 50%;
  margin: 5px auto;
  border: 1px solid #333;
}

.internal-component .close {
  float: right;
  margin: 5px;
}

// Legacy modal style fixes
.say-card .modal-dialog {
  position: relative;
  top: 0;
  left: 0;
  box-shadow: none;
  transform: none;
  padding: 0;
  width: 100%;
}

// Temporary fix for nested cards
.say-card .say-card {
  box-shadow: none;
}

.say-card ul li div.u-hr {
  display: none;
}

.say-card .modal-dialog__header {
  @include say-font-size($say-h6);
  color: $say-neutral-800;
  padding: $say-unit-small;
  border-bottom: .1rem solid $say-neutral-200;

  * {
    margin-bottom: 0;
  }

  * + * {
    margin-top: $say-unit-small;
  }

  .grid {
    align-items: center;
  }

  .col--2-12.u-align-right {
    margin-top: 0;
    padding-right: $say-unit-tiny;
  }
}

.say-card .modal-dialog__content {
  padding: $say-unit-small;
}

.say-card .modal-dialog__content--sectioned {
  padding: 0;
}

.say-card .modal-dialog__content--sectioned > * {
  max-height: 50vh;
}

.say-card .modal-dialog__content--sectioned .modal-dialog__footer {
  border-top: 1px solid $say-neutral-200;
}

.say-card .modal-dialog__footer {
  padding: $say-unit-small;

  button {
    margin-bottom: 0;
  }
}

.say-card .link-list {
  @media screen and (max-width:767px) {
    margin-bottom: 0 !important;
  }
}

.say-card .link-list.link-list--bordered {
  .link-list__item.link-list__item--sidenotes a {
    padding: $say-unit-small !important;
  }

  .link-list__item.link-list__item--sidenotes a:hover {
    background-color: $say-neutral-100;
  }

  .link-list__item__sidenote.uppercase {
    @include say-font-size($say-tiny,1.3);
    color: $say-neutral-600;
    padding: 0;
  }
}

.say-card .modal-dialog__link-list {
  padding: $say-unit-small;
  width: 100%;
  overflow: hidden;
}

// .pager__list {
//   padding: $say-unit-tiny;
//   border-top: .1rem solid $say-neutral-200;
// }




.modal-dialog.modal-dialog--sectioned .modal-dialog__content.modal-dialog__content--sidebar-grid {
  padding: 0;
  overflow: hidden;

  > .grid {
    max-height: 60vh;
    overflow: hidden;
  }

  > .grid > div:first-child {
    max-height: 60vh;
    overflow-y: auto;
  }

  > .grid > div:nth-child(2) {
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > div:first-child {
      overflow-y: auto;
      flex-grow: 1;
    }

    > div:nth-child(2) {
      flex-grow: 0;
    }
  }
}


.say-button--tooltip:hover {
  position: relative;
  overflow: visible;

  .u-visually-hidden {
    position: absolute!important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: unset;
    margin: auto;
    padding: $say-unit-tiny $say-unit-small;
    color: $say-white;
    background-color: $say-neutral-800;
    border-radius: $say-radius/3;
    border: 0;
    left: $say-unit + $say-unit-tiny;
    margin-top: -$say-unit-tiny;
  }
}

.say-hidden-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.say-modal__body > .grid {
  position: relative;
  height: 100%;
  overflow: hidden;

  > .col--3-12 {
    height: 100%;
    overflow: auto;
  }

  > .col--9-12 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  > .col--9-12 > .container-flex--scroll {
    height: 100%;
    flex-basis: 0;
    flex-grow: 999;
  }
}

/* ==================================
   #INPUT
   ================================== */

.say-input--select,
.say-input--search,
.say-input--calendar {
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 95% 50%;
  padding-right: $say-unit-large - $say-unit-tiny;
}

.say-input--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/@lblod/ember-rdfa-editor/icons/nav-down.svg);
}

.say-input--search {
  background-image: url(/@lblod/ember-rdfa-editor/icons/search.svg);
}

.say-input--calendar {
  background-image: url(/@lblod/ember-rdfa-editor/icons/calendar.svg);
}

.say-input--pre {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: $say-unit-large;
  background-color: $say-input-disabled-background-color;
  padding-left: $say-unit-small;
  padding-right: $say-unit-small;
  overflow: visible;
  font-size: $say-small;
  font-weight: $say-medium;
  color: $say-input-disabled-color;
  pointer-events: none;
  float: left;
}

.say-input--pre + input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.form hr {
  border: 0;
  border-top: .1rem solid $say-neutral-300;
}

.say-search-results-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $say-unit-small;
  border-top: .1rem solid $say-neutral-300;
}

.say-pagination-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.say-pagination-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * + * {
    display: flex;
    align-items: center;
    margin-left: $say-unit-small;
    padding-left: $say-unit-small;
    border-left: .1rem dotted $say-neutral-300;
  }
}

.say-pagination {
  display: flex;

  > * + * {
    display: flex;
    align-items: center;
    margin-left: $say-unit-small;
    padding-left: $say-unit-small;
    border-left: .1rem dotted $say-neutral-300;
  }

  a {
    display: flex;
  }
}

.say-border-bottom {
  border-bottom: .1rem solid $say-neutral-300;
}
