/* ==========================================================================
   #BREAK WORDS
   ========================================================================== */

/**
 * Utility classes to break words. Use it like this:
 *
 *   <a href="#" class="say-u-word-break-all">
 *      anextremelylongurlanextremelylongurlanextremelylongurlanextremelylongurlanextremelylongurlanextremelylongurlanextremelylongurlanextremelylongurlanextremelylongurl
 *   </a>
 *
 */

/* Classes
  ========================================================================== */

.say-u-word-break {
  word-break: break-word !important;
}

.say-u-word-break-all {
  word-break: break-all !important;
}

.say-u-word-nowrap {
  white-space: nowrap !important;
}
