####################
# super strict mode
####################
auto-install-peers=false
strict-peer-dependents=true
resolve-peers-from-workspace-root=false

################
# Optimizations
################
# Less strict, but required for tooling to not barf on duplicate peer trees when using ember-try.
# (many libraries declare the same peers, which resolve to the same
#  versions)
dedupe-peer-dependents=true
public-hoist-pattern[]=ember-source

################
# Compatibility
################
# highest is what everyone is used to, but
# not ensuring folks are actually compatible with declared ranges.
resolution-mode=highest
# makes pnpm use file: resolution to resolve the addon from the test-app
# this seems a bit more stable (in combo with the pnpm-sync-dependencies-meta-injected tool)
# an alternative is to set this to true, remove the sync scripts (cause it will no longer work),
# and make sure the peerdeps of the test-app and the addon are always in sync.
# worth a read: https://pnpm.io/npmrc#dedupe-injected-deps
# the second option works as well, but it seems to cause triple browser refreshes on every
# code change, so this seems like a better option for now...
dedupe-injected-deps=false
dedupe-direct-deps=true