# unconventional js
/blueprints/*/files/
/vendor/
/tests/dummy/app/config/sample-data.*

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/coverage/
!.*
.eslintcache
.lint-todo/

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/npm-shrinkwrap.json.ember-try
/package.json.ember-try
/package-lock.json.ember-try
/yarn.lock.ember-try


# CI/CD
.changeset/
.github/
.woodpecker/
pnpm-lock.yaml

# Docs
*.md

# E2E HTML
e2e/files/*.html
