# unconventional js
/blueprints/*/files/
/vendor/
/tests/dummy/app/config/sample-data.*

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/coverage/
!.*
.eslintcache

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
