{{#if @controller}}
<div {{ this.currentStyle }} class="color-picker">
  <Picker
    @color={{this.color}}
    @onDone={{this.onDone}}
    class="color-picker__icon"
    style="{{if
      this.selectedColor
      (concat 'background:' this.selectedColor ';')
    }}"
  >
    <span>A</span>
  </Picker>
</div>
{{/if}}