{{! @glint-nocheck: not typesafe yet }}
<span 
  {{did-insert this.didInsertContentWrapper}} 
  {{did-update this.onNodeUpdate @node}} 
  {{did-update this.onSelected @selected}} 
  {{did-update this.onDecorationsUpdate @contentDecorations}}
  ...attributes>
</span>