{{#in-element @destinationElement insertBefore=null}}
<h3>{{@props.title}}</h3>
<AuButton type='button' {{on 'click' this.click}}>Test</AuButton>
{{#if this.contentVisible}}
<p>{{@props.content}}</p>
{{/if}}
{{/in-element}}
