<span style='white-space: normal;' contenteditable='false'>
  <span>{{this.title}}</span>
  <AuButton type='button' {{on 'click' this.click}}>Test</AuButton>
  {{#if this.contentVisible}}
    <p>{{@model.props.content}}</p>
  {{/if}}
</span>
