.internal-component {
  display: block;
  width: 50%;
  margin: 5px auto;
  border: 1px solid #333;
}

.internal-component .close {
  float:right;
  margin: 5px;
}
.scrollto-highlight {
  animation: bg 0.5s ease-in;
  -webkit-animation: bg 0.5s ease-in;
  -moz-animation: bg 0.5s ease-in;
  -ms-animation: bg 0.5s ease-in;
  -o-animation: bg 0.5s ease-in;
}

@-webkit-keyframes bg {
  0% {
    background: yellow;
  }
  20% {
    background: rgba(255, 255, 0, 0.8);
  }
  50% {
    background: rgba(255, 255, 0, 0.5);
  }
  100% {
    background: rgba(255, 255, 0, 0);
  }
}
@-moz-keyframes bg {
  0% {
    background: yellow;
  }
  20% {
    background: rgba(255, 255, 0, 0.8);
  }
  50% {
    background: rgba(255, 255, 0, 0.5);
  }
  100% {
    background: rgba(255, 255, 0, 0);
  }
}
