.internal-component {
  display: block;
  width: 50%;
  margin: 5px auto;
  border: 1px solid #333;
}

.internal-component .close {
  float:right;
  margin: 5px;
}

/* Imported HTML - Used for tables */
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] {
  position: relative;
  border: 2px solid #fff;
  background-color: #e6e6e6;
  border-radius: .2rem;
  outline: 2px dashed #e6e6e6;
  outline-offset: .2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  display: table;
  width: 100%;
}

[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] th {
  font-weight: 500;
  border-bottom: 1px solid #CCCCCC;
}

[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] th,
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] td {
  padding: .6rem;
  background-color: transparent !important;
}

[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] th + th {
  border-left: 1px solid #CCCCCC;
}

[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] td + td {
  border-left: 1px solid #CCCCCC;
}

[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] tr + tr {
  border-top: 1px solid #CCCCCC;
}

/* Style links as plain text */
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] a,
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] a:hover,
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] a:visited,
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] a:focus {
  text-decoration: none;
  color: #333;
}

/* Disable link focus */
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] a:focus {
  outline: 0;
}

/* Set global font-size and show not-allowed cursor */
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"],
[property="http://lblod.data.gift/vocabularies/editor/isLumpNode"] * {
  font-size: 1.5rem;
  cursor: not-allowed;

  /* Disable selection */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
