{{! @glint-nocheck: not typesafe yet }}
<AuCard @flex={{true}} as |c|>
  <c.header contenteditable='false'>
    <AuHeading @level='2' @skin='4'>
      Title
    </AuHeading>
    <p>
      Subtitle
    </p>
  </c.header>
  <c.content>
    {{yield}}
  </c.content>
</AuCard>