<button type="button" class="say-toolbar__button {{if this.isItalic " is-active"}}" {{on "click" this.toggleItalic}}>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="say-icon say-icon--large" aria-hidden="true">
    <path d="M22.5618876,43.1999278 C22.7898438,42.9394064 22.9526696,42.0601468 22.9526696,41.2134523 C22.9526696,40.5295836 22.8549741,39.8131498 22.6595831,39.5200632 C21.6826279,39.292107 20.380021,39.0641508 19.0448488,38.8687598 L29.9701878,5.16380539 C31.30536,4.96841435 32.6079669,4.70789297 33.5849221,4.47993675 C33.7803131,4.18685019 33.8780086,3.47041638 33.8780086,2.78654774 C33.8780086,1.93985323 33.7151828,1.06059355 33.4872266,0.800072168 C33.2706682,0.676324509 31.4082659,0.552576851 29.6310948,0.540511454 L25.5738894,0.539550781 C23.7176746,0.539550781 21.6660686,0.669811475 21.4381124,0.800072168 C21.2101562,1.06059355 21.0473304,1.93985323 21.0473304,2.78654774 C21.0473304,3.47041638 21.1450259,4.18685019 21.3404169,4.47993675 C22.3173721,4.70789297 23.5874139,4.96841435 24.9551512,5.16380539 L14.0298122,38.8687598 C12.6620749,39.0641508 11.3920331,39.292107 10.4150779,39.5200632 C10.2196869,39.8131498 10.1219914,40.5295836 10.1219914,41.2134523 C10.1219914,42.0601468 10.2848172,42.9394064 10.5127734,43.1999278 C10.7293318,43.3236755 12.5917341,43.4474231 14.3689052,43.4594885 L18.4261106,43.4604492 C20.2823254,43.4604492 22.3339314,43.3301885 22.5618876,43.1999278 Z"/>
  </svg>
  <span class="say-u-hidden-visually">
    Italic
  </span>
</button>