.rdfa-context-debugger-debug-panel {
  position: fixed;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  margin-top: 10px;
  border: 2px solid;
}

pre {
  background-color: lightgrey;
}

input.uri {
  width: 400px;
}

input[type="number"] {
  width: 100px;
}
