/* ==================================
   #DUMMY APP
   ================================== */
@import "@appuniversum/ember-appuniversum/styles";
@import 'ember-rdfa-editor';
@import 'ember-rdfa-editor/c-dummy';

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}
