/* ==================================
   #DUMMY APP
   ================================== */
@import '@appuniversum/ember-appuniversum/styles';
@import 'ember-rdfa-editor';
@import 'ember-rdfa-editor/c-dummy';

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.firefox-svg-bug {
  display: inline-flex;
  align-items: center;
  border: 0.1rem solid gray;
  padding: 0.1rem 0.6rem;
  border-radius: 0.6rem;
}

.firefox-svg-bug__icon {
  width: 1.3rem;
  height: 1.3rem;
}
