.rdfa-context-debugger-debug-panel {
  margin-top: 10px;
  border: 2px solid;
}

pre {
  background-color: lightgrey;
}

[data-editor-highlight="true"] {
	background-color: #ffe615;
}

[data-editor-highlight="true"]:empty {
	display: none;
}

input.uri {
  width: 400px;
}

input[type="number"] {
  width: 100px;
}

.editor > *[contenteditable="true"] {
    min-height: 200px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
