<div class='say-toolbar'>
  <div class='say-toolbar__styling-tools'>
    {{yield (hash Group=(component "toolbar/group") ) to='left'}}
  </div>
  <div class='say-toolbar__actions'>
    {{yield (hash Group=(component "toolbar/group") )  to='right'}}
  </div>
</div>