{{#if this.suggestedHints.length}}
  {{#each this.suggestedHints as |hint|}}
      {{component hint.component info=hint.info closeHints=(action 'closeHints')}}
    <div class="say-card">
    </div>
  {{/each}}
{{/if}}
