<div class="sidebar">
	<div class="sidebar__header">
	  <h6 class="h6">Document structuur</h6>
	</div>
	<div class="sidebar__content">
	  <div class="side-navigation">
		  <ul class="side-navigation__group">
			  <li class="side-navigation__item"><a href="#title">Titel</a></li>
			  <li class="side-navigation__item"><a href="#content-2" class="active">Datum</a></li>
			  <li class="side-navigation__item"><a href="#content-3">Aanwezigen</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
			  <li class="side-navigation__item"><a href="#content-4">Content</a></li>
		  </ul>
	  </div>
	</div>
	<div class="sidebar__footer">
	  {{wu-button label="Voeg tekst element in" command="ctrl + n" commandLocation="below" isBlock=true onClick=null}}
	</div>
</div>


{{yield}}
