<div class="sidebar">
	<div class="sidebar__header">
	  <h6 class="h6">Document structuur</h6>
	</div>
	<div class="sidebar__content">
	  <div class="side-navigation">
      {{document-structure-item items=items itemClicked=(action 'itemClicked')}}
	  </div>
	</div>
</div>
