<div class="sidebar">
	<div class="sidebar__header">
	  <h6 class="h6">Document structuur</h6>
	</div>
	<div class="sidebar__content">
	  <div class="side-navigation">
		  <ul class="side-navigation__group">
        {{#each items as |item|}}
          {{item}}
        {{else}}
          no structure
        {{/each}}
		  </ul>
	  </div>
	</div>
</div>


{{yield}}
