<div class="grid">
  <div class="col--8-12 toolbar__styling-tools">

    {{!-- <div class="button-group u-display-inline-block">
      {{#wu-button size="small" isNarrow=true isAlt=true onClick=null}}
        Zoom 125% <i class="fa fa-angle-down"></i>
      {{/wu-button}}
      {{#wu-button isLink=true isDark=true isNarrow=true onClick=null}}
        <i class="fa fa-paste"></i>
      {{/wu-button}}
      {{#wu-button isLink=true isDark=true isNarrow=true onClick=null}}
        <i class="fa fa-copy"></i>
      {{/wu-button}}
      {{#wu-button isLink=true isDark=true isNarrow=true onClick=null}}
        <i class="fa fa-scissors"></i>
      {{/wu-button}}
    </div>
    --}}
    
    <div class="button-group u-display-inline-block">
      {{#wu-button isLink=true isDark=true isNarrow=true onClick=(action "undo")}}
        <i class="fa fa-rotate-left"></i>
      {{/wu-button}}

      {{!-- 
        {{#wu-button isLink=true isDark=true isNarrow=true onClick=null}}
          <i class="fa fa-rotate-right"></i>
        {{/wu-button}}
      --}}
    </div>
    <div class="button-group u-display-inline-block">
      {{#wu-button isLink=true isDark=true isNarrow=true onClick=(action "insertUL")}}
        <i class="fa fa-list-ul"></i>
      {{/wu-button}}
      {{#wu-button isLink=true isDark=true isNarrow=true onClick=(action "insertOL")}}
        <i class="fa fa-list-ol"></i>
      {{/wu-button}}
      {{#wu-button isLink=true isDark=true isNarrow=true onClick=(action "insertIndent")}}
        <i class="fa fa-indent"></i>
      {{/wu-button}}
      {{#wu-button isLink=true isDark=true isNarrow=true onClick=(action "insertUnindent")}}
        <i class="fa fa-dedent"></i>
      {{/wu-button}}
    </div>
{{!--<div class="button-group u-display-inline-block">
      {{#wu-button isLink=true isDark=true isNarrow=true onClick=null}}
        <i class="fa fa-link"></i>
      {{/wu-button}}
      {{#wu-button isLink=true isDark=true isNarrow=true onClick=null}}
        <i class="fa fa-table"></i>
      {{/wu-button}}
    </div>
    <div class="button-group u-display-inline-block">
      {{#wu-button isLink=true isDark=true isNarrow=true onClick=null}}
        <i class="fa fa-code"></i>
      {{/wu-button}}
    </div>
    --}}
  </div>
  <div class="col--4-12 u-align-right">
    <div class="button-group">
      <div class="checkbox--switch__wrapper checkbox--switch--small">
        <input class="checkbox--switch" type="checkbox" name="toggle" value="" checked="checked">
        <label class="checkbox--switch__label" for="toggle-1"></label>
        <span>Toon annotaties</span>
      </div>
      {{wu-button label="Voeg annotatie in +" size="small" isNarrow=true isAlt=true isBlue=true onClick=null}}
    </div>
  </div>
</div>

{{yield}}
