<h2 id="title">Testing update before after</h2>
<button {{action 'reload'}}> reload </button>
{{#ce/content-editable editable=true focused=true yieldHTML=true
   textInsert=(action 'handleTextInsert')
   textRemove=(action 'handleTextRemove')
   selectionUpdate=(action 'selectionUpdate')
   elementUpdate=(action 'elementUpdate')
   rawEditorInit=(action 'rawEditorInit')
}}
  <h3>data</h3>
  <div
    vocab="http://test/editor/update-before-after/"
    prefix="foaf: http://xmlns.com/foaf/0.1/"
    resource="#"
    typeof="foaf:Document">
    <h1>Standard cases</h1>
    <p>You will have to check the code of this file, in comments is explained what the expected behaviour is, and where to put your cursor</p>

    <h2>case 1 (not working)</h2>
    <!--
         INPUT
         *****
         <textNode>baz</textNode><span> <textNode>bar</textNode> </span><commentNode></commentNode><textNode>|foo </textNode>
         EXPECTED
         ********
         <textNode>baz</textNode><span> <textNode>ba|</textNode></span><commentNode></commentNode><textNode>foo </textNode>

    -->
    baz <span style="background-color:green">bar</span><!--test -->foo

    <h2>case 2</h2>
    <!--
         INPUT
         *****
         <textNode>baz</textNode><span><textNode>bar</textNode></span><textNode>|foo</textNode>
         EXPECTED
         ********
         <textNode>baz</textNode><span><textNode>ba|</textNode></span><textNode>foo</textNode>

    -->
    baz <span style="background-color:green">bar</span>foo

    <h2>case 3</h2>
    <!--
         INPUT
         *****
         <textNode>baz</textNode><span><textNode>bar</textNode></span><textNode>f|oo</textNode>
         EXPECTED
         ********
         <textNode>baz</textNode><span><textNode>bar</textNode></span><textNode>|oo</textNode>

    -->
    baz <span style="background-color:green">bar</span>foo

    <h2>case 4 (not sure/not working)</h2>
    <!--
         INPUT
         *****
         <textNode>baz</textNode><span></span><textNode>|foo</textNode>
         EXPECTED
         ********
         <textNode>baz</textNode><span><textNode>|</textNode></span><textNode>foo</textNode>

    -->
    baz <span style="background-color:green"></span>foo

    <h2>case 5 (not sure/not working)</h2>
    <!--
         INPUT
         *****
         <textNode>baz</textNode><div></div><textNode>|foo</textNode>
         EXPECTED
         ********
         <textNode>baz</textNode><div><textNode>|</textNode></div><textNode>foo</textNode>

    -->
    baz <div style="background-color:green"></div>foo

    <h2>case 6</h2>
    <!--
         INPUT
         *****
         <textNode>baz</textNode><div><textNode>bar</textNode></div><invisibleTextNode></invisibleTextNode>
         EXPECTED
         ********
         <textNode>baz</textNode><div><textNode>bar|</textNode></div>

    -->
    baz <div style="background-color:green">foo</div>&nbsp;


    <h1>Cases testing block removal of node</h1>

    <h2>case 1</h2>
    <!--
         INPUT
         *****
         <textNode>baz</textNode><nodeForBlockRemoval><textNode>bar</textNode></nodeForBlockRemoval><textNode>|foo</textNode>
         EXPECTED
         ********
         <textNode>baz |</textNode><textNode>foo</textNode>

    -->
    baz <div property="http://lblod.data.gift/vocabularies/editor/isLumpNode" style="background-color:green">bar</div>foo

    <h2>case 2</h2>
    <!--
         INPUT
         *****
         <textNode>baz</textNode><nodeForBlockRemoval> <textNode>bar</textNode> </nodeForBlockRemoval> <invisibleTextNode>|</invisibleTextNode>
         EXPECTED
         ********
         <textNode>baz|</textNode>

    -->
    baz <div property="http://lblod.data.gift/vocabularies/editor/isLumpNode" style="background-color:green">bar</div>
    <div style="background-color:red">place cursor right before the red  div</div>

    <h2>case 3</h2>
    <!--
         INPUT
         *****
         <textNode>baz</textNode>
         <nodeForBlockRemoval>
           <span><textNode>some textNode number 1</textNode></span><span><textNode>bar number 1</textNode></span>
         </nodeForBlockRemoval>
         <nodeForBlockRemoval>
           <invisibleTextNode></invisibleTextNode><span><textNode> some textNode number 2</textNode></span><span><textNode>bar number 2</textNode></span>
         </nodeForBlockRemoval>
         <textNode>|foo</textNode>
         EXPECTED
         ********
         <textNode>baz</textNode>
         <nodeForBlockRemoval>
           <span><textNode>some textNode number 1</textNode></span><span><textNode>bar number 1</textNode></span>
         </nodeForBlockRemoval>|
         <textNode>foo</textNode>

    -->
    baz
    <div property="http://lblod.data.gift/vocabularies/editor/isLumpNode" style="background-color:green">
      <span style="background-color:grey">some textNode number 1</span>
      <span style="background-color:pink">bar number 1</span>
    </div><div property="http://lblod.data.gift/vocabularies/editor/isLumpNode" style="background-color:red">
      <span style="background-color:teal">some textNode number 2</span>
      <span style="background-color:aqua">bar number 2</span>
    </div>
    woop
    <div style="background-color:grey"><br>dsf</div>
    How do we want <br><span style="background-color:yellow">|this to behave? Now the [BR] dissapears in next iteration</span>

    This<div style="background-color: grey">|<br></div>really.
  </div>
{{/ce/content-editable}}
