/* ==================================
   #DUMMY APP
   ================================== */

@use "@lblod/ember-rdfa-editor";
@use "@lblod/say-roadsign-regulation-plugin";
@use "c-dummy";
// @import is deprecated but we use variables from AU in the ar-design styles, so it seems we need
// to use import for them both here. We can't move everything to @use until AU has.
@import "@appuniversum/ember-appuniversum/styles";
@import "@lblod/say-ar-design-plugin";

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}
