/* ==================================
   #SAY ARTICLE
   ================================== */

.say-article {

}

.say-article__section {
  @include au-font-size($au-h6);
  padding: $au-unit;
  display: flex;
  flex-direction: row-reverse;

  & + & {
    border-top: .1rem solid $au-gray-200;
  }
}

.say-article__section--highlight {
  background-color: $au-gray-100;
}

.say-article__action {
  flex-basis: 999;
  flex-grow: 1;
  text-align: right;
}

.say-article__content {
  color: $au-gray-800;
  margin-right: $au-unit;

  > * {
    max-width: 90ch;
  }

  > * + * {
    margin-top: $au-unit-small;
  }

  h1,
  .h1 {
    @include au-font-size($say-h2-font-size,1.3);
    font-family: $say-h2-font-family;
    font-weight: $say-h2-font-weight;
  }

  h2,
  .h2 {
    @include au-font-size($say-h3-font-size,1.3);
    font-family: $say-h3-font-family;
    font-weight: $say-h3-font-weight;
  }

  h3,
  .h3 {
    @include au-font-size($say-h4-font-size);
    font-family: $say-h4-font-family;
    font-weight: $say-h4-font-weight;
  }

  h4,
  .h4 {
    @include au-font-size($say-h5-font-size);
    font-family: $say-h5-font-family;
    font-weight: $say-h5-font-weight;
  }

  h5,
  .h5 {
    @include au-font-size($say-h6-font-size);
    font-family: $say-h6-font-family;
    font-weight: $say-h6-font-weight;
  }

  h6,
  .h6 {
    @include au-font-size($say-h6-font-size);
    font-family: $say-h6-font-family;
    font-weight: $say-h6-font-weight;
  }
}

.say-article__insert {
  @include au-font-size($au-h6);
  color: $say-primary-700;
  font-family: var(--au-font);
  appearance: none;
  padding: 0;
  border: 0;
  display: inline-flex;
  align-items: center;
  border-radius: .2rem;
  transition: color var(--au-transition), background-color var(--au-transition);
  white-space: nowrap;

  &:hover,
  &:focus {
    color: $say-primary-600;
  }
}
