/* ==================================
  #ALERT
  ================================== */

.say-alert {
  display: flex;
  color: $au-gray-800;
  padding: $au-unit;
  margin-bottom: $au-unit;
  background-color: $au-gray-200;
}

.say-alert__icon {
  background-color: $au-white;
  border-radius: $au-unit-large;
  height: $au-unit-large - .1rem; // compensate for visual distortion of perfect circle
  width: $au-unit-large;
  margin-right: $au-unit-large / 2;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  .say-icon {
    height: 2rem - .1rem; // compensate for visual distortion of perfect circle
    width: 2rem;
    bottom: 0;
  }
}

.say-alert__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.say-alert__title {
  font-weight:$au-medium;
}
