/* ==================================
   #BUTTONS
   ================================== */

/* Variables
  ========================================================================== */
$say-button-height: $au-unit + $au-unit-tiny !default;
$say-button-font-family: var(--au-font) !default;
$say-button-font-size: $au-base !default;
$say-button-font-weight: var(--au-regular) !default;
$say-button-border: 0.1rem !default;
$say-button-border-color: var(--au-blue-600) !default;
$say-button-border-hover-color: var(--au-blue-800) !default;
$say-button-color: $au-white !default;
$say-button-hover-color: $au-white !default;
$say-button-bg-color: var(--au-blue-600) !default;
$say-button-bg-hover-color: var(--au-blue-800) !default;
$say-button-radius: var(--au-radius) !default;
$say-button-secondary-color: var(--au-gray-800) !default;
$say-button-secondary-hover-color: var(--au-gray-700) !default;
$say-button-secondary-border-color: var(--au-gray-300) !default;
$say-button-secondary-border-hover-color: var(--au-gray-300) !default;
$say-button-secondary-bg-color: var(--au-white) !default;
$say-button-secondary-bg-hover-color: transparent !default;
$say-button-tertiary-height: $au-unit !default;
$say-button-tertiary-color: var(--au-blue-600) !default;
$say-button-tertiary-hover-color: var(--au-blue-800) !default;
$say-button-tertiary-border-color: transparent !default;
$say-button-tertiary-border-hover-color: transparent !default;
$say-button-tertiary-bg-color: var(--au-white) !default;
$say-button-tertiary-bg-hover-color: transparent !default;

/* Component
  ========================================================================== */

.say-button {
  @include au-font-size($say-button-font-size);
  font-family: $say-button-font-family;
  font-weight: $say-button-font-weight;
  height: $say-button-height;
  text-decoration: none;
  text-align: center;
  appearance: none;
  display: inline-flex;
  align-items: center;
  padding: 0 $au-unit-small 0.1ex; // Visually center the text in the button
  border: $say-button-border solid $say-button-border-color;
  border-radius: $say-button-radius;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $say-button-color;
  background-color: $say-button-bg-color;
  transition: background-color var(--au-transition), color var(--au-transition),
    border var(--au-transition);
  cursor: default;

  &:hover,
  &:focus {
    color: $say-button-hover-color;
    background-color: $say-button-bg-hover-color;
    border-color: $say-button-border-hover-color;
    text-decoration: none;
  }

  &:focus {
    outline: var(--au-outline);
    outline-offset: $au-unit-tiny/2;
  }
}

// Secondary button
.say-button--secondary {
  color: $say-button-secondary-color;
  background-color: $say-button-secondary-bg-color;
  border-color: $say-button-secondary-border-color;

  &,
  &:visited {
    color: $say-button-secondary-color;
  }

  &:hover,
  &:focus,
  &:active {
    color: $say-button-secondary-hover-color;
    background-color: $say-button-secondary-bg-hover-color;
    border-color: $say-button-secondary-border-hover-color;
  }
}

// Link button
.say-button--tertiary {
  font-size: inherit;
  color: $say-button-tertiary-color;
  background-color: $say-button-tertiary-bg-color;
  border-color: $say-button-tertiary-border-color;
  padding: 0;
  height: $say-button-tertiary-height;
  line-height: $say-button-tertiary-height;

  &,
  &:visited {
    color: $say-button-tertiary-color;
    background-color: $say-button-tertiary-bg-hover-color;
  }

  &:hover,
  &:focus,
  &:active {
    color: $say-button-tertiary-hover-color;
    background-color: $say-button-tertiary-bg-hover-color;
    border-color: $say-button-tertiary-border-hover-color;
  }
}

.say-button--tooltip {
  position: relative;
  bottom: -0.3rem;
  margin-top: -1rem;

  .say-icon {
    width: 1.7rem;
    height: 1.7rem;
  }
}

.say-button__tooltip-text {
  position: relative;
  opacity: 0;
  transition: opacity var(--au-transition);
  margin-left: $au-unit-small;
  color: var(--au-gray-700);
  background-color: var(--au-gray-200);
  padding-left: $au-unit-tiny;
  padding-right: $au-unit-tiny;
  border-radius: 0.3rem;

  &:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba($au-white, 0);
    border-right-color: var(--au-gray-200);
    border-width: 0.6rem;
    margin-top: -0.6rem;
  }

  .say-button:hover &,
  .say-button:focus & {
    opacity: 1;
  }
}
