/* ==================================
   #SAY CARD
   ================================== */

.say-card {
  display: flex;
  flex-direction: column;
  z-index: var(--au-z-index-gamma);
  background-color: $au-white;
  box-shadow: 0 1px 3px rgba($au-gray-900, 0.1),
    0 4px 20px rgba($au-gray-900, 0.035), 0 1px 1px rgba($au-gray-900, 0.025);
  z-index: 99;
}

.say-card__header {
  padding: $au-unit-small;
  border-bottom: 0.1rem solid var(--au-gray-200);
}

.say-card__title {
  @include au-font-size($au-h5);
  font-weight: var(--au-medium);
  color: var(--au-gray-800);
}

.say-card__subtitle {
  @include au-font-size($au-h6);
  font-weight: var(--au-medium);
  color: var(--au-gray-800);
}

.say-card__content {
  position: relative;

  & + & {
    border-top: 0.1rem dotted var(--au-gray-300);
  }

  & + &.say-card__content--padding {
    border-top: 0.1rem solid var(--au-gray-200);
  }
}

.say-card__content--tint {
  background-color: var(--au-gray-100);
}

.say-card__content--padding {
  padding: $au-unit-small;
}

.say-card__content--fixed {
  max-height: 35vh;
  overflow: auto;
}

.say-card__info {
  @include au-font-size($au-h6);
  padding: $au-unit-small;
  color: var(--au-gray-600);
  font-style: italic;

  * + * {
    margin-top: $au-unit-small;
  }
}

.say-card__footer {
  @include au-font-size($au-h6);
  background-color: var(--au-gray-100);
  padding: $au-unit-tiny $au-unit-small;
  border-top: 0.1rem solid var(--au-gray-200);
}
