/* ==================================
   #SAY FORM
   ================================== */

.say-form {
  @include au-font-size($au-h6);
}

.say-form__fieldset {
  & + & {
    margin-top: $au-unit;
    padding-top: $au-unit;
    border-top: .1rem solid var(--au-gray-300);
  }
}

.say-form__row {
  & + & {
    margin-top: $au-unit-small;
  }
}
