/* ==================================
   #HELP TEXT
   ================================== */

/* Variables
  ========================================================================== */

$say-help-text-color             : var(--au-gray-800) !default;
$say-help-text-error-color       : var(--au-red-600) !default;
$say-help-text-font-size         : 1.4rem !default;


/* Component
  ========================================================================== */

.say-help-text {
  @include au-font-size($say-help-text-font-size);
  color: $say-help-text-color;
  margin-top: $au-unit-tiny;
  font-weight: var(--au-regular);
}

.say-help-text + .say-help-text {
  margin-top: 0;
}

/* Modifiers
  ========================================================================== */

.say-help-text--error {
  color: $say-help-text-error-color;
  font-weight: var(--au-medium);
}
