/* ==================================
   #HELP TEXT
   ================================== */

/* Component
  ========================================================================== */

.say-help-text {
  @include au-font-size($say-help-text-font-size);
  color: $say-help-text-color;
  margin-top: $au-unit-tiny;
  font-weight: $au-regular;
}

.say-help-text + .say-help-text {
  margin-top: 0;
}

/* Modifiers
  ========================================================================== */

.say-help-text--error {
  color: $say-help-text-error-color;
  font-weight:$au-medium;
}
