/* ==================================
   #LABEL
   ================================== */

/* Component
  ========================================================================== */

.say-label {
  color: $say-label-color;
  font-family: $say-font-family;
  font-weight:$au-medium;
  margin-bottom: $au-unit-tiny;
}


/* Modifiers
  ========================================================================== */

.say-label--block {
  display: block;
}
