/* ==================================
   #LABEL
   ================================== */

/* Variables
  ========================================================================== */

$say-label-color: var(--au-gray-800) !default;

/* Component
  ========================================================================== */

.say-label {
  color: $say-label-color;
  font-family: var(--au-font);
  font-weight: var(--au-medium);
  margin-bottom: $au-unit-tiny;
}

/* Modifiers
  ========================================================================== */

.say-label--block {
  display: block;
}
