/* ==================================
   #SAY LINK
   ================================== */

.say-link {
  display: inline-flex;
  align-items: center;
  color: var(--au-blue-700);
  text-decoration-color: var(--au-blue-300);
  transition: color var(--au-transition);

  &:hover,
  &:focus {
    color: var(--au-blue-600);
    text-decoration-color: var(--au-blue-300);
  }

  &:focus {
    outline: var(--au-outline);
  }
}

.say-link--secondary {
  color: var(--au-gray-700);
  text-decoration-color: var(--au-gray-300);

  &:hover,
  &:focus {
    color: var(--au-gray-600);
    text-decoration-color: var(--au-gray-300);
  }
}

.say-link__highlight {
  background-color: var(--au-yellow-200);
}
