/* ==================================
   #SAY MODAL
   ================================== */

.say-modal-holder {
  position: relative;
}

.say-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($au-gray-1000,.4);
  z-index: 999;
  display: none;

  &.is-visible {
    display: block;
  }
}

// Modal Dialog base styling
.say-modal {
  background: $au-white;
  margin: auto;
  height: auto;
  max-height: calc(100% - #{$au-unit});
  width: calc(100% - #{$au-unit});
  max-width: 760px;
  opacity: 1;
  overflow: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  right: $au-unit-small;
  left: $au-unit-small;
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
  visibility: visible;
  border-radius: .2rem;
  z-index: 9999;
  box-shadow: 0 1px 3px rgba($au-gray-1000, .1), 0 4px 20px rgba($au-gray-1000, .035), 0 1px 1px rgba($au-gray-1000, .025);
  transition: var(--au-transition);
  display: none;

  &:focus {
    outline: 0 !important;
  }

  &.is-visible {
    display: flex;
  }
}

.say-modal--fullscreen {
  max-width: calc(100% - #{$au-unit-huge});
  max-height: calc(100% - #{$au-unit-huge});
  width: calc(100% - #{$au-unit-huge});
  height: calc(100% - #{$au-unit-huge});
  left: $au-unit-small;
}

.say-modal__header {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $au-unit-small;
  border-bottom: 1px solid $au-gray-200;

  @include mq(medium) {
    padding: $au-unit;
  }
}

.say-modal__prefix {
  @include au-font-size($au-base);
  margin-bottom: $au-unit-tiny;
}

.say-modal__title {
  @include au-font-size($say-h2-font-size);
  font-family: $say-h2-font-family;
  font-weight: $say-h2-font-weight;

  &:focus {
    outline: 0;
  }
}

.say-modal__back {
  @include au-font-size($au-base);
  font-family: var(--au-font);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  appearance: none;
  border: 0;
  padding: 0;
  text-align: center;
  color: $au-gray-700;
  transition: color var(--au-transition);
  text-decoration: underline;
  text-decoration-color: $au-gray-300;

  &:hover,
  &:focus {
    color: $au-gray-600;
    text-decoration: none;
  }
}

.say-modal__close {
  @include au-font-size($au-base);
  font-family: var(--au-font);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  appearance: none;
  border: 0;
  padding: 0;
  text-align: center;
  color: $au-gray-700;
  transition: color var(--au-transition);
  text-decoration: underline;
  text-decoration-color: $au-gray-300;

  &:hover,
  &:focus {
    color: $au-gray-600;
    text-decoration: none;
  }
}

.say-modal__body {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  position: relative;
  height: calc(100% - #{$au-unit-large + $au-unit-small});
  background-color: $au-white;

  &:focus {
    outline: 0;
  }

  @include mq(medium) {
    overflow: hidden;
  }
}

.say-modal__body--scroll {
  overflow: auto;
}

.say-modal__sidebar {
  flex-basis: 100%;
  padding: $au-unit-small;
  overflow: auto;
  background-color: $au-gray-100;
  border-bottom: .1rem solid $au-gray-200;

  @include mq(medium) {
    padding: $au-unit;
    border-bottom: 0;
    border-right: .1rem solid $au-gray-200;
    height: 100%;
    flex-basis: 35rem;
    flex-grow: 1;
  }
}

.say-modal__content {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-basis: 100%;
  flex-direction: column;

  @include mq(medium) {
    height: 100%;
    flex-basis: 0;
    flex-grow: 999;
  }
}

.say-modal__content--scroll {
  overflow: auto;
}

.say-modal__info {
  @include au-font-size($au-h6);
  color: $au-gray-700;
  padding: $au-unit;
}
