/* ==================================
   #SAY PAGINATION
   ================================== */

.say-pagination {
  @include au-font-size($au-h6);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $au-unit-tiny $au-unit-small;
  border-top: 0.1rem solid var(--au-gray-200);
}

.say-pagination--large {
  padding: $au-unit $au-unit;
}

.say-pagination__group {
  display: flex;
  align-items: center;
  margin-right: $au-unit-tiny;

  > * + * {
    margin-left: $au-unit-small;
    padding-left: $au-unit-small;
    border-left: 0.1rem dotted var(--au-gray-300);
  }
}

.say-pagination__info {
  color: var(--au-gray-700);
}

.say-pagination__list {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  flex-grow: 1;
}

.say-pagination__item {
  & + & {
    margin-left: $au-unit-tiny;
    padding-left: $au-unit-tiny;
    border-left: 0.1rem dotted var(--au-gray-300);
  }
}
