{{! template-lint-disable no-invalid-interactive }}
{{! template-lint-disable no-down-event-binding }}
<div
  {{did-insert this.insertedEditorElement}}
  {{will-destroy this.teardown}}
  {{did-update this.initialize @plugins}}
  contenteditable='true'
  class={{@class}}
  ...attributes
>
</div>
