{{! template-lint-disable no-invalid-interactive }}
{{! template-lint-disable no-down-event-binding }}
<div
  {{on 'beforeinput' this.beforeInput}}
  {{on 'input' this.handleInput}}
  {{did-insert this.insertedEditorElement}}
  contenteditable='true'
  class={{@class}}
  ...attributes
>
</div>
