// Based on https://tiptap.dev/api/extensions/placeholder
[data-placeholder]:empty::before {
  color: var(--au-gray-400);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
