<h1 id="title">Content editable dummy app</h1>
{{#link-to 'ce.index'}} general playground {{/link-to}} <br>
{{#link-to 'ce.lists'}} test lists {{/link-to}} <br>
{{#link-to 'ce.editor.update-before-after'}} Editor test update before/after {{/link-to}}
{{outlet}}
