<h1 id="title">Content editable dummy app</h1>
{{#link-to 'ce.playground'}} general playground {{/link-to}} &nbsp;
{{#link-to 'ce.lists'}} test lists {{/link-to}} &nbsp;
{{#link-to 'ce.editor.update-before-after'}} Editor test update before/after {{/link-to}} &nbsp;
{{#link-to 'ce.editor.backspace'}} Test backspace {{/link-to}} &nbsp;
{{#link-to 'ce.editor.positioning'}} Test positioning {{/link-to}}


{{outlet}}
