<h2 id="title">Testing lists</h2>
<div>
  <button {{action 'insertUL'}}> insert ul </button>
  <button {{action 'insertOL'}}> insert ol </button>
  <button {{action 'insertIndent'}}> indent </button>
  <button {{action 'insertUnindent'}}> unindent </button>
</div>
{{#ce/content-editable editable=true focused=true yieldHTML=true
   textInsert=(action 'handleTextInsert')
   textRemove=(action 'handleTextRemove')
   selectionUpdate=(action 'selectionUpdate')
   elementUpdate=(action 'elementUpdate')
   rawEditorInit=(action 'rawEditorInit')
}}
  {{#if showContent}}
    <h3>UNORDERED LIST CASES</h3>
    <p> The symbol "-|" means place cursor right before "-|" </p>
    <p> The symbol "|-" means place cursor right after "|-" </p>
    <p> The symbol "-| ... |-" means select the " ... " part</p>

    <div style="margin-left:10px">
    <h4>case 1 </h4>
    <p>
      -| some text
    </p>
    <h4>case 2 </h4>
    <p>
      -| some text <a href="#">a link</a>
    </p>
    <h4>case 3 </h4>
    <p>
      some text <a href="#">an <i> italic |- </i> link</a>
    </p>
    <h4>case 4 </h4>
    <p>
      some text <div style="background-color:green"><a href="#">an <i> italic |- </i> link</a></div>
    </p>
    <h4>case 5 </h4>
    <p>
      <ul>
        <li> some text
          <div style="background-color:green">
            <a href="#">an <i> italic |- </i> link</a>
          </div>
        </li>
      </ul>
    </p>
    <h4>case 6 </h4>
    <p>
      <ul>
        <li> some text
          <div style="background-color:green">
            |- some text
          </div>
        </li>
      </ul>
    </p>
    <h4>case 7 </h4>
    <p>
      <ul>
        <li> some |- text </li>
      </ul>
    </p>
    <h4>case 8 </h4>
    <p>
      <ul>
        <li> some text |-
          <div style="background-color:green">
            For now the whole LI should be unwrapped. This is the best behaviour I could come up with.
          </div>
        </li>
      </ul>
    </p>
    <h4>case 9 </h4>
    <p>
      <ul>
        <li> some text </li>
        <li> some text 2 |- </li>
        <li> some text 3</li>
      </ul>
    </p>
    <h4>case 10 </h4>
    <p>
      <ul>
        <li> some text </li>
        <li> some text 2 </li>
        <li> some text 3|-</li>
      </ul>
    </p>
    <h4>case 11 </h4>
    <p>
      <ul>
        <li> some text -| </li>
        <li> some text 2 </li>
        <li> some text 3</li>
      </ul>
    </p>
    <h4>case 12 </h4>
    <p>
      <ul>
        <li> some text </li>
        <li> some text 2 <a href="#"> a link |-</a> </li>
        <li> some text 3</li>
      </ul>
    </p>
    <h4>case 13 </h4>
    <p>
      This part will not be in the list <br /> But this part |- will
    </p>
    <h4>case 14 </h4>
    <p>
      <div style="background-color: green"><a href="#">i can put my cursor in li before and after the link</a></div>
    </p>
    <h4>case 15 </h4>
    <p>
      <ol>
        <li> some text </li>
        <li> some text 2 <a href="#"> a link |-</a> </li>
        <li> some text 3</li>
      </ol>
    </p>
    <h4>case 16 </h4>
    <p>
      <ol>
        <li> some text </li>
        <li>
          <ul>
            <li> very nested complex case </li>
          </ul>
        </li>
        <li> some text 3</li>
      </ol>
    </p>
    <h4>case 17 </h4>
    <p>
      <ol>
        <li> some text </li>
        <li>
          <ul>
            <li> very nested complex case </li>
            <li> very nested super complex case </li>
          </ul>
        </li>
        <li> some text 3</li>
      </ol>
    </p>
    <h4>case 18 </h4>
    <p>
      <ol>
        <li> indenting |- case </li>
      </ol>
    </p>
    <h4>case 19 </h4>
    <p>
      <ul>
        <li> complex unindenting item 1</li>
       <li>
         <ul>
            <li> subitem 1</li>
            <li> subitem |- 2 </li>
            <li> subitem 3</li>
         </ul>
       </li>
       <li> item 2</li>
      </ul>
    </p>
    <h4>case 20 </h4>
    <p>
      <ul>
        <li> complex extra complex unindenting. Note: it doesn't work</li>
        <li> I share space with ul
          <ul>
            <li> subitem 1</li>
            <li> subitem |- 2 </li>
            <li> subitem 3</li>
          </ul>
        </li>
        <li> item 2</li>
      </ul>
    </p>
    <h4>case 21</h4>
    <p>
      <ul>
        <li> a some
          <div style="background-color:green"> block element text to unindent simple case |- </div>
          other text
        </li>
        <li>second item </li>
      </ul>
    </p>
    <h4>case 22</h4>
    <p>
      <ul>
        <li>
          <ol>
            <li><div style="background-color:green"> block element text to unindent complex case -| </div></li>
            <li>sub text</li>
          </ol>
        </li>
        <li>
          other text
        </li>
      </ul>
    </p>
    <h4>case 23 : create list from multiple selected lines</h4>
    <p>
      <div>Sauté de v-|eau</div>
      <div><i>Crêpes</i></div>
      <div><b>Raclet|-te</b> au comté</div>
    </p>
    Should give
    <p>
      <ul>
        <li>Sauté de veau</li>
        <li><i>Crêpes</i></li>
        <li><b>Raclette</b> au comté</li>
      </ul>
    </p>
    <h4>case 24 : indent list from multiple selected lines</h4>
    <p>
      <ul>
        <li>Pot au feu</li>
        <li><i>Tarte a|ux pommes</i></li>
        <li><b>Croziflette</b> au vi-|n blanc</li>
      </ul>
    </p>
    Should give
    <p>
      <ul>
        <li>Pot au feu</li>
        <ul>
          <li><i>Tarte aux pommes</i></li>
          <li><b>Croziflette</b> au vin blanc</li>
        </ul>
      </ul>
    </p>
    <h4>case 25 : unindent list from multiple selected lines</h4>
    <p>
      <ul>
        <li>Choucroute</li>
        <ul>
          <li><i>Baba a-|u rhum</i></li>
          <li><b>Pâté</b> aux pru|-nes</li>
        </ul>
      </ul>
    </p>
    Should give
    <p>
      <ul>
        <li>Choucroute</li>
        <li><i>Baba au rhum</i></li>
        <li><b>Pâté</b> aux prunes</li>
      </ul>
    </p>
</div>
  {{/if}}
{{/ce/content-editable}}
