<button
  type='button'
  class='say-toolbar__button {{if this.isCode "is-active"}}'
  {{on 'click' this.toggleCode}}
  title='Toggle code mark'
  {{did-insert this.didInsert}}
>
  <AuIcon @icon='html' @ariaHidden={{true}} @size='large' />
  <span class='au-u-hidden-visually'>
    Code
  </span>
</button>
