<div class="say-toolbar">
  <div class="say-toolbar__styling-tools">
    <div class="say-toolbar__group">
      <button type="button" class="say-toolbar__button" {{on "click" this.undo}} data-test-button-id="undo-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="say-icon say-icon--large" aria-hidden="true">
          <path d="M35.406875,8.58125 C31.975,5.1375 27.236875,3 21.988125,3 C11.490625,3 3.011875,11.5025 3.011875,22 C3.011875,32.4975 11.490625,41 21.988125,41 C30.835,41 38.245,34.94375 40.346875,26.75 L35.406875,26.75 C33.4475,32.28375 28.19875,36.25 21.988125,36.25 C14.115,36.25 7.738125,29.873125 7.738125,22 C7.738125,14.126875 14.115,7.75 21.988125,7.75 C25.91875,7.75 29.445625,9.38875 32.0225,11.965625 L24.363125,19.625 L40.988125,19.625 L40.988125,3 L35.406875,8.58125 Z" transform="matrix(-1 0 0 1 44 0)"/>
        </svg>
        <span class="say-u-hidden-visually">
          Undo
        </span>
      </button>
    </div>
    <div class="say-toolbar__group">
      {{#each @widgets as |widget|}}
        {{component widget.componentName controller=widget.controller}}
      {{/each}}
    </div>
  </div>
  <div class="say-toolbar__actions">
    {{yield}}
  </div>
</div>
