{{#if @suggestedHints.length}}
  {{#each @suggestedHints as |hint|}}
    <div class='say-card'>
      {{component hint.component info=hint.info closeHints=this.closeHints}}
    </div>
  {{/each}}
{{/if}}