<div {{did-insert this.didInsert}}>
  {{#each this.inlineComponents as |compEntry|}}
    {{#in-element compEntry.node insertBefore=null}}
      {{component
        compEntry.emberComponentName
        componentController=compEntry.componentController
        editorController=compEntry.editorController
      }}
    {{/in-element}}
  {{/each}}
</div>
