<div class="say-annotation-sidebar">
  {{#each this.rdfaBlocks as |block|}}
    {{#if block.hasTopPosition}}
      {{#let 
        (and block.mostSpecificContext.typeof block.mostSpecificContext.typeof.firstObject)
        (and block.mostSpecificContext.properties block.mostSpecificContext.properties.firstObject)
        block.mostSpecificContext.typeof
        block.mostSpecificContext.properties
        block.mostSpecificContext.typeof.length
        as |hasTypes hasProperties types properties numberOfTypes|
      }}
        {{#if hasTypes}}
          {{#each types as |type index|}}
            <p class="say-annotation-sidebar__item" style="position: absolute; top: {{sum block.topPosition (mult 20 index)}}px;">{{type}}</p>
          {{/each}}
        {{/if}}
        {{#if hasProperties}}
          {{#each properties as |property index|}}
            <p class="say-annotation-sidebar__item" style="position: absolute; top: {{sum block.topPosition (mult 20 (sum index numberOfTypes))}}px;">{{property}}</p>
          {{/each}}
        {{/if}}
      {{/let}}
    {{/if}}
  {{/each}}
</div>
