<h1 class="h4">Ember RDFa editor addon</h1>
App version: {{app-version versionOnly=true showExtended=true}} <br>
{{#link-to 'rdfa.playground'}} playground {{/link-to}} &nbsp;
{{#link-to 'rdfa.playground-with-content'}} playground with content {{/link-to}} &nbsp;
{{outlet}}
