<h1 class="h4">Ember RDFa editor addon</h1>
<div class="grid grid--collapse">
  <div class="col--12-12 flex">
    <div vocab="http://data.vlaanderen.be/ns/foo#" resource="#Foo" typeof="Foo">
      <div vocab="http://data.vlaanderen.be/ns/besluit#"
           prefix="eli: http://data.europa.eu/eli/ontology# prov: http://www.w3.org/ns/prov# mandaat: http://data.vlaanderen.be/ns/mandaat# besluit: http://data.vlaanderen.be/ns/besluit#"
           class="app-view">
        {{rdfa-editor value=(rdfa-html value) rdfaEditorInit=(action "rdfaEditorInit") initDebug=(action "debug") domUpdate=(action "domUpdate") profile="default"}}
    </div>
  </div>
  </div>
</div>
<div>
  {{rdfa-editor-debugger debug=debug}}
</div>

{{outlet}}
