{{page-title 'Dummy'}}
<AuModalContainer />
<nav class='navbar'>
  <LinkTo class='navigation-link' @route='index'>Home</LinkTo>
  <LinkTo class='navigation-link' @route='plugins'>With Dummy Plugins</LinkTo>
  <LinkTo class='navigation-link' @route='vendors'>Vendor Environment</LinkTo>
  <LinkTo class='navigation-link' @route='backspace'>Alternative Backspace for RDFA nodes</LinkTo>
  <LinkTo class='navigation-link' @route='editable-node'>Editable Nodes POC</LinkTo>
</nav>
{{outlet}}