<div class="c-dummy">
  <div class="c-dummy__header">
    {{yield to="header"}}
  </div>
  <div class="c-dummy__content">
    <div vocab="http://data.vlaanderen.be/ns/foo#" resource="#Foo" typeof="Foo">
      <div
        vocab="http://data.vlaanderen.be/ns/besluit#"
        prefix="eli: http://data.europa.eu/eli/ontology# prov: http://www.w3.org/ns/prov# mandaat: http://data.vlaanderen.be/ns/mandaat# besluit: http://data.vlaanderen.be/ns/besluit#"
        class="app-view"
      >
        {{yield to="content"}}
      </div>
    </div>
  </div>
</div>