// /* ==================================
//    #SAY ANNOTATIONS HOVER
//    ================================== */

.rdfa-annotations-hover:not(.show-rdfa-blocks) {
  overflow: hidden;

  // Make block elements relative
  div,
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  ul:not(ul ul),
  ol:not(ol ol),
  [property="dc:title"],
  [property="dc:title foaf:name"],
  [typeof~="besluit:Besluit"],
  [property="ext:stemmingTable"],
  [property="ext:insertStemmingText"],
  [property="ext:aanwezigenTable"],
  [property="ext:insertAanwezigenText"],
  [property="prov:generated"] > [property="besluit:motivering"],
  [property="prov:generated"] > [property="prov:value"],
  [typeof="besluit:Zitting"],
  [property="say:hasPart"],
  [property="openbaar"],
  [property^="ext"]:not([property="ext:heeftAfwezigeBijAgendapunt"]):not(span),
  [typeof="http://data.vlaanderen.be/ns/besluit#Besluit http://data.vlaanderen.be/ns/besluit#AanvullendReglement"],
  [typeof="besluit:Artikel"],
  [typeof="say:Article"],
  [typeof="mobiliteit:Opstelling"] {
    position: relative;

    &:before {
      height: 100%;
      top: 0;
    }
  }

  .au-c-dropdown__menu {
    position: absolute;
  }

  // Style before and after elements
  [typeof]:not([typeof="foaf:Document"]),
  [property],
  [data-type] {
    &:hover {
      border-bottom-color: tint($au-gray-600, 20);
    }

    &:before {
      position: absolute;
      transition:
        opacity $au-easing 0.5s,
        left $au-easing 0.2s;
      right: calc(100% + #{$say-annotation-offset});
      opacity: 0;
    }

    &:before {
      @include au-font-size($say-smallest-font-size, 1.2);
      display: block;
      margin-top: 0.2rem;
      padding-right: $say-annotation-gutter + $au-unit-small;
      margin-right: -$say-annotation-gutter + $au-unit-tiny;
      width: $say-annotation-width-content;
      font-family: var(--au-font);
      font-weight: var(--au-medium);
      letter-spacing: 0.01rem;
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--au-gray-600);
      background-color: var(--au-white);
      pointer-events: none;
      overflow: hidden;
      min-height: 2rem;
      border-right: 1px dashed var(--au-gray-300);
      border-top: 1px dashed var(--au-gray-300);
      z-index: var(--au-z-index-gamma);
      background: linear-gradient(
        to right,
        $au-white,
        $au-white calc(100% - #{$say-annotation-gutter + $au-unit-tiny}),
        transparent calc(100% - #{$say-annotation-gutter + $au-unit-tiny}),
        transparent 100%
      );
    }

    .say-container--sidebar-right.say-container--paper &:before {
      background-color: var(--au-gray-100);
      background: linear-gradient(
        to right,
        var(--au-gray-100),
        var(--au-gray-100) calc(50% - #{$au-unit-tiny}),
        transparent calc(50% - #{$au-unit-tiny}),
        transparent 100%
      );
    }

    &[data-editor-position-level="1"]:before,
    &:hover:before,
    [property="say:hasPart"]:hover > [property="say:heading"]:before {
      right: calc(100% + #{$say-annotation-offset});
      opacity: 1;
    }

    // Bring highlighted annotation to the front
    &[data-editor-position-level]:before {
      z-index: var(--au-z-index-alpha);
    }

    &[data-editor-position-level]:before {
      border-top-style: solid;
      border-right-style: solid;
      opacity: 1;
    }

    &[data-editor-position-level="0"]:before {
      z-index: var(--au-z-index-gamma);
    }
  }

  // Hide empty properties or flagged as noHighlight
  [property=""],
  [typeof=""],
  [property="http://mu.semte.ch/vocabularies/ext/noHighlight"],
  [property="http://mu.semte.ch/vocabularies/ext/noHighlight"]
  {
    border-bottom: 0 !important;

    &:before,
    &[data-editor-position-level]:before,
    &[data-editor-position-level]:hover:before,
    &:hover:before {
      display: none !important;
      content: "" !important;
      display: none !important;
      opacity: 0 !important;
    }
  }

  @include mq($until: 1280px) {
    // Hide all hover annotations on small screens
    [typeof]:not([typeof="foaf:Document"]),
    [property],
    [data-type] {
      &:before {
        display: none !important;
      }
    }
  }
}
