/* ==================================
  #REMOVING ANNOTATIONS
  ================================== */

/* Removing annotations
 ========================================================================== */

.rdfa-annotations.show-rdfa-blocks,
.rdfa-annotations:not(.show-rdfa-blocks) {
  [data-flagged-remove='almost-complete'][data-editor-position-level='0'],
  [data-flagged-remove='almost-complete']:hover {
    box-shadow: -2px 0 0 var(--au-yellow-400);
    background-color: var(--au-yellow-200);

    &:hover {
      background-color: var(
        --au-yellow-200
      ) !important; // Conflict with .annotation style @TODO: remove when annotation classes are removed
    }
  }

  [data-flagged-remove='complete'][data-editor-position-level='0'],
  [data-flagged-remove='complete'] {
    cursor: text;
    box-shadow: none;
    background-color: var(--au-gray-100);
    min-width: $au-unit-tiny;
    color: var(--au-gray-700);
    font-style: italic;
    text-decoration: none;
    font-weight: var(--au-light) !important;

    &:hover {
      background-color: var(
        --au-gray-100
      ) !important; // Conflict with .annotation style @TODO: remove when annotation classes are removed
    }

    &:hover:after,
    &:focus:after {
      color: rgba($au-gray-700, 0.7);
    }

    &:after {
      pointer-events: none;
    }
  }
}
