@use "pkg:@appuniversum/ember-appuniversum/styles" as *;
/* ==================================
   #SAY CONTAINER
   ================================== */

/* Variables
  ========================================================================== */

$say-editor-sidebar-medium: 30% !default;
$say-editor-sidebar-large: 30% !default;

/* Component
  ========================================================================== */

.say-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &.say-container--toolbar-bottom {
    flex-direction: column-reverse;
  }
}

.say-container__main {
  overflow: scroll;
}

.say-container__aside {
  position: absolute;
  bottom: 0;
  right: $au-unit-small;
  max-width: 380px;
  max-height: calc(100% - 44px);
  overflow: auto;
  padding: $au-unit-small $au-unit-small + $au-unit-tiny;

  .say-container--toolbar-bottom & {
    top: 0;
    bottom: auto;
  }

  .say-container--paper.say-container--sidebar-right & {
    top: 44px;
  }

  .say-container--paper.say-container--toolbar-bottom &,
  .say-container--paper.say-container--toolbar-bottom.say-container--sidebar-right
    & {
    top: 0;
  }

  @include mq(medium) {
    width: $say-editor-sidebar-medium;
    max-width: $say-editor-sidebar-medium;
    min-height: calc(100% - 44px);

    .say-container--paper.say-container--sidebar-right & {
      padding: $au-unit;
      bottom: auto;
    }
  }

  @include mq(1280px) {
    width: calc(
      #{$say-editor-sidebar-large} - #{$au-unit-small + $au-unit-tiny}
    );
    max-width: calc(
      #{$say-editor-sidebar-large} - #{$au-unit-small + $au-unit-tiny}
    );
  }
}
