/* ==================================
   #SAY EDITOR STYLES
   ================================== */

/* Variables
  ========================================================================== */

$say-editor-padding: $au-unit !default;
$say-editor-background: var(--au-gray-100) !default;
$say-editor-sidebar-left-medium: 2.4rem !default;
$say-editor-sidebar-left-large: $au-unit-huge * 1.5 !default;
$say-editor-sidebar-medium: 30% !default;
$say-editor-sidebar-large: 30% !default;
$say-paper-min-height: calc(100vh + #{$au-unit}) !default;
$say-paper-padding: $au-unit !default;
$say-paper-background: var(--au-white) !default;
$say-paper-box-shadow:
  0 1px 3px rgba($au-gray-900, 0.1),
  0 4px 20px rgba($au-gray-900, 0.035),
  0 1px 1px rgba($au-gray-900, 0.025) !default;

/* Component
  ========================================================================== */

.say-editor {
  background-color: $say-paper-background;
  padding: $say-editor-padding;
  width: 100%;
  position: relative;

  .say-container--paper & {
    background-color: $say-editor-background;
  }

  @include mq(medium) {
    .say-container--paper.say-container--sidebar-left & {
      padding-left: $say-editor-sidebar-left-medium;
    }
    .say-container--paper.say-container--sidebar-right & {
      padding-right: $say-editor-sidebar-large;
    }
  }

  @include mq(1280px) {
    .say-container--paper.say-container--sidebar-left & {
      padding-left: $say-editor-sidebar-left-large;
    }
    .say-container--paper.say-container--sidebar-right & {
      padding-right: $say-editor-sidebar-large;
    }
  }
}

.say-editor__paper {
  position: relative;
  width: 100%;
  min-height: $say-paper-min-height;

  &:focus {
    outline: none;
  }

  .say-container--paper & {
    background-color: $say-paper-background;
    box-shadow: $say-paper-box-shadow;
  }
}

.say-editor__paper--disabled {
  background-color: $say-editor-background;
  color: var(--au-gray-700);
}

.say-editor__inner {
  padding: $say-paper-padding;
  position: relative;
  min-height: $say-paper-min-height;
  white-space: break-spaces;
  word-wrap: break-word;
  overflow-wrap: break-word;

  // Remove start styles
  &:focus {
    outline: 0;
  }

  .say-container--paper & {
    min-height: calc(#{$say-paper-min-height} - #{$say-paper-padding} * 2);
  }

  .say-container:not(.say-container--paper) & {
    max-width: 120ch;
    margin-left: auto;
    margin-right: auto;
  }
}
